<div class="logo">
  <img src="/images/header/logo.png" alt="MB" />
</div>
<div class="navigation">

  {{!-- top navigation  --}}
  <nav class="topNav">
    <ul>
      {{#each (locale "header.topNavLinks")}}
        <li {{#if active }} class="active" {{/if}}>
          <a href="{{url}}">
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </nav>
  {{!-- end top navigation  --}}

  {{!-- main navigation  --}}
  <nav class="mainNav">
    <ul>
      {{#each  (locale "header.mainNavLinks")}}
        <li {{#if active }} class="active" {{/if}}>
          <a href="{{url}}">
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </nav>
  {{!-- end main navigation  --}}

</div>
