<div class="index__billboard">
<!--  data-ride="carousel" -->
	<div id="carousel-example-generic" class="mb-carousel carousel slide start">
	  <div class="carousel-inner" role="listbox">
	    <div class="mb-campaign item active">
	      <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-1.jpg" alt="...">
	      <div class="mb-campaign-text-block">
			<h3 class="mb-campaign-header">Die StreetStyle Sondermodelle - sofort verfügbar.</h3>
			<p class="mb-campaign-text">
				Die StreetStyle Sondermodelle der GLA-, CLA-Coupé und A-Klasse mit AMG Line, AMG
				<br> 
				Leichtmetallrädern und Bi-Xenon-Scheinwerfern.
			</p>
			<p class="mb-campaign-text-important">
				Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>*</sup>
			</p>
	      </div>
	      <div class="mb-campaign-action-block">
	      	<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
	      </div>
	    </div>
	    <div class="mb-campaign item">
	      <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-1.jpg" alt="...">
	      <div class="mb-campaign-text-block">
			<h3 class="mb-campaign-header">Die StreetStyle Sondermodelle - sofort verfügbar.</h3>
			<p class="mb-campaign-text">
				Die StreetStyle Sondermodelle der GLA-, CLA-Coupé und A-Klasse mit AMG Line, AMG
				<br> 
				Leichtmetallrädern und Bi-Xenon-Scheinwerfern.
			</p>
			<p class="mb-campaign-text-important">
				Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>*</sup>
			</p>
	      </div>
	      <div class="mb-campaign-action-block">
	      	<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
	      </div>
	    </div>
	  </div>

	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class=""></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class=""></span>
	  </a>
	  <div class="mb-carousel-progress progress">
		  <div class="progress-bar" role="progressbar">
		  </div>
		</div>
	</div>
</div>
<div class="mb-how-does-it-work-wrapper">
	<ul class="mb-how-does-it-work-list row">
		<li class="mb-how-does-it-work-item col-xs-4">
			So funktioniert der Autokauf im 
			Mercedes-Benz Online Store.
		</li>
		<li class="mb-how-does-it-work-item col-xs-4">
			159 sofort verfügbare Mercedes-Benz 
			Neufahrzeuge im Angebot.
		</li>
		<li class="mb-how-does-it-work-item col-xs-4">
			Alle Angebote als Leasing-Komplett-Paket 
			inkl. Versicherung, Service &amp; Überführung.
		</li>
	</ul>
</div>
