<div class="index__billboard">
	<div id="carousel-example-generic" class="mb-carousel carousel slide start">
	  <div class="carousel-inner" role="listbox">
	    <div class="mb-campaign item active">
	      <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-1.jpg" alt="...">
	      <div class="mb-campaign-text-block">
			<h3 class="mb-campaign-header">Die StreetStyle Sondermodelle - sofort verfügbar. 1</h3>
			<p class="mb-campaign-text">
				Die StreetStyle Sondermodelle der GLA-, CLA-Coupé und A-Klasse mit AMG Line, AMG
				<br>
				Leichtmetallrädern und Bi-Xenon-Scheinwerfern.
			</p>
			<p class="mb-campaign-text-important">
				Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>*</sup>
			</p>
	      </div>
	      <div class="mb-campaign-action-block">
	      	<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
	      </div>
	    </div>
	    <div class="mb-campaign item">
	      <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-1.jpg" alt="...">
	      <div class="mb-campaign-text-block">
			<h3 class="mb-campaign-header">Die StreetStyle Sondermodelle - sofort verfügbar. 2</h3>
			<p class="mb-campaign-text">
				Die StreetStyle Sondermodelle der GLA-, CLA-Coupé und A-Klasse mit AMG Line, AMG
				<br>
				Leichtmetallrädern und Bi-Xenon-Scheinwerfern.
			</p>
			<p class="mb-campaign-text-important">
				Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>*</sup>
			</p>
	      </div>
	      <div class="mb-campaign-action-block">
	      	<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
	      </div>
	    </div>
        <div class="mb-campaign item">
          <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-1.jpg" alt="...">
          <div class="mb-campaign-text-block">
            <h3 class="mb-campaign-header">Die StreetStyle Sondermodelle - sofort verfügbar. 3</h3>
            <p class="mb-campaign-text">
                Die StreetStyle Sondermodelle der GLA-, CLA-Coupé und A-Klasse mit AMG Line, AMG
                <br>
                Leichtmetallrädern und Bi-Xenon-Scheinwerfern.
            </p>
            <p class="mb-campaign-text-important">
                Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>*</sup>
            </p>
          </div>
          <div class="mb-campaign-action-block">
            <button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
          </div>
        </div>
	  </div>

	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class=""></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class=""></span>
	  </a>
	  <div class="mb-carousel-progress progress">
		  <div class="progress-bar" role="progressbar">
		  </div>
		</div>
	</div>
</div>
<div class="mb-how-does-it-work-wrapper">
	<ul class="mb-how-does-it-work-list row">
		<li class="mb-how-does-it-work-item col-xs-4">
			So funktioniert der Autokauf im
			Mercedes-Benz Online Store.
		</li>
		<li class="mb-how-does-it-work-item col-xs-4">
			159 sofort verfügbare Mercedes-Benz
			Neufahrzeuge im Angebot.
		</li>
		<li class="mb-how-does-it-work-item col-xs-4">
			Alle Angebote als Leasing-Komplett-Paket
			inkl. Versicherung, Service &amp; Überführung.
		</li>
	</ul>
</div>
<div class="mb-model-navigation-wrapper">
	<h2 class="mb-model-navigation-title">Welcher Mercedes passt zu Ihnen?</h2>
  <div class="mb-model-navigation-slider">
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/a/a-l-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">A</span>
    	<p class="mb-model-navigation-slide-model-name">A-Klasse Limousine</p>
    	<p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/b/b-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">B</span>
    	<p class="mb-model-navigation-slide-model-name">B-Klasse</p>
    	<p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/c/c-l-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">C</span>
    	<p class="mb-model-navigation-slide-model-name">C-Klasse Limousine</p>
    	<p class="mb-model-navigation-slide-model-desc">13 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/c/c-t-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">C</span>
    	<p class="mb-model-navigation-slide-model-name">C-Klasse T-Modell</p>
    	<p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/c/c-c-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">C</span>
    	<p class="mb-model-navigation-slide-model-name">C-Klasse Coupe</p>
    	<p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
   	</div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/cla/cla-c-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">CLA</span>
    	<p class="mb-model-navigation-slide-model-name">CLA Coupe</p>
    	<p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/cla/cla-sb-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">CLA</span>
    	<p class="mb-model-navigation-slide-model-name">CLA Shooting Brake</p>
    	<p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/cls/cls-c-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">CLS</span>
    	<p class="mb-model-navigation-slide-model-name">CLS Coupe</p>
    	<p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/cls/cls-sb-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">CLS</span>
    	<p class="mb-model-navigation-slide-model-name">CLS Shooting Brake</p>
    	<p class="mb-model-navigation-slide-model-desc">13 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-l-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">E</span>
    	<p class="mb-model-navigation-slide-model-name">E-Klasse Limousine</p>
    	<p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-t-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">E</span>
    	<p class="mb-model-navigation-slide-model-name">E-Klasse T-Modell</p>
    	<p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
    </div>
    <div class="mb-model-navigation-slide">
    	<div class="mb-model-navigation-slide-picture-wrapper">
    		<img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-c-model-navigation.png">
    	</div>
    	<span class="mb-model-navigation-slide-model-klasse">E</span>
    	<p class="mb-model-navigation-slide-model-name">E-Klasse Coupe</p>
    	<p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
    </div>
  </div>
</div>
<div class="mb-catalogue-region"></div>
<div class="mb-teaser-block">
	<ul class="mb-teaser-list row">
		<li class="mb-teaser-item col-xs-4">
			<img src="/images/photos/teaser-1.jpg" alt="teaser-1.jpg" class="mb-teaser-picture">
			<h4 class="mb-teaser-title">
				Zuhause Starkstrom tanken - Mit dem Wallbox-Service von Mercedes-Benz.
			</h4>
			<p class="mb-teaser-descr">
				Bei Kauf, Finanzierung oder Leasing eines Elektrofahrzeugs erhalten Sie einen Gutschein für die Mercedes-Benz Wallbox.
			</p>
		</li>
		<li class="mb-teaser-item col-xs-4">
			<img src="/images/photos/teaser-2.jpg" alt="teaser-2.jpeg" class="mb-teaser-picture">
			<h4 class="mb-teaser-title">
				Das Beste bekommt immer eine Zugabe.
			</h4>
			<p class="mb-teaser-descr">
				Das B flexible Package - exklusiv für private Leasing- und Finanzierungskunden - erhalten Sie als kostenlose Zugabe zu allen „B-Klasse Electric Drive“-Angeboten.
			</p>
		</li>
		<li class="mb-teaser-item col-xs-4">
			<img src="/images/photos/teaser-3.jpg" alt="teaser-3.jpg" class="mb-teaser-picture">
			<h4 class="mb-teaser-title">
				Das Komplett-Service Paket für Ihre neue A-Klasse bereits ab 19€/Monat.
			</h4>
			<p class="mb-teaser-descr">
				Rund-um-sorglos mit unserem Komplett-Service-Paket für die A-Klasse.
			</p>
		</li>
	</ul>
</div>
