<h2>Ausstattungshighlights.</h2>
<ul class="mb-model-detail-edition-highlights-list"></ul>
<div class="mb-model-detail-edition-highlights-miniature col-xs-6 col-sm-6 col-md-3 col-lg-3 hidden-xs">
	<a class="mb-model-detail-edition-highlights-equipment-link">
	</a>
	<p>
		Alle Ausstattungen 
		<br>
		anzeigen
	</p>
</div>		
	
