<ul class="pagination mb-pagination col-xs-12">
  <li class="mb-pagination-item mb-pagination-item-prev">
    <a href="#" aria-label="Previous">
      <img src="/images/icons/left-angle.png" alt="">
    </a>
  </li>
  <div class="pagination-numbers"></div>
  <li class="mb-pagination-item mb-pagination-item-next">
    <a href="#" aria-label="Next">
      <img src="/images/icons/right-angle.png" alt="">
    </a>
  </li>
</ul>
