<div class="mb-test-drive-banner">
	<img class="mb-model-detail-testdrive-img visible-xs-block" src="/images/contact/contact-banner-sm-1.jpg" alt="...">
	<img class="mb-model-detail-testdrive-img visible-sm-block" src="images/contact/contact-banner-md-1.jpg" alt="...">
	<img class="mb-model-detail-testdrive-img hidden-lg visible-md-block" src="/images/campaign/campaign-poster-1.jpg" alt="...">
	<img class="mb-model-detail-testdrive-img visible-lg-block" src="/images/contact-banner.png" alt="...">
</div>

<form>	
	<div class="modal-body">
		<h2>Vielen Dank für Ihre Anfrage.</h2>
		<h3>Wir haben Ihre Probefahrtanfrage erhalten und werden uns in Kürze bei Ihnen melden. Sofern wir die Probefahrt bestätigen können, steht das Fahrzeug zum vereinbarten Termin am gewünschten Ort für Sie bereit. Zwei Stunden lang und auf einer Strecke von 100 km können Sie das Fahrzeug ausgiebig testen und sich davon begeistern lassen.</h3>
	</div>
	<div class="mb-test-drive-form-navigation-block">
		<div class="row">
	        <div class="col-xs-12 col-sm-6 mb-checkout-form-btn-left">
	        </div>
	        <div class="col-xs-12 col-sm-6 mb-checkout-form-btn-right">
	          	<button class="btn btn-primary mb-checkout-form-navigation-next js-finish">Schließen</button>
	        </div>
	    </div>
	</div>
</form>
