<div class="index__billboard">
  <div class="mb-campaign mb-model-detail-campaign">
    <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-3.jpg" alt="...">
    <a href="#" class="mb-model-header-back">Angebotsübersicht</a>
    <h1 class="mb-model-header-name">A 180 StreetStyle Sondermodell.</h1>
    <h2 class="mb-model-header-descr-short">
    	349 € mtl. Gesamt-Leasing-Rate (Leasing-Komplett-Paket inkl. 
			<br>
    	Versicherung, Service Überführung und Zulassung)<sup>*</sup>
		</h2>
    <h3 class="mb-model-header-descr-additional">
    	Gesamtpreis 32.349,50 € (inkl. Überführung und Zulassung)
    </h3>
    <button class="mb-model-header-add-to-cart">
    	In Merkliste speichern
    </button>
    <ul class="mb-model-header-advantages-list">
    	<li class="mb-model-header-advantage-large">
    		Kraftstoffverbrauch kombiniert* 5,7 l/100 km
    		<br>
				CO2-Emission<sup>***</sup> 129 g/km
				<br>
				Energieeffizienzklasse<sup>***</sup> B
    	</li>
    	<li class="mb-model-header-advantage">AMG Line</li>
    	<li class="mb-model-header-advantage">Bi-Xenon Scheinwerfer</li>
    	<li class="mb-model-header-advantage">Becker-Map-Pilot</li>
    	<li class="mb-model-header-advantage">Aktiver Park-Assistent</li>
    	<li class="mb-model-header-advantage">Sitzheizung Vordersitze</li>
    	<li class="mb-model-header-advantage">Spiegel-Paket</li>
    	
    </ul>
    <p class="mb-model-header-footnote">
    	Alle Abbildungen nur beispielhaft und zu Illustrationszwecken. Das bestellte Fahrzeug kann von Abbildungen abweichen. <sup>****</sup>
    </p>
  </div>
</div>
<nav class="mb-model-detail-navigation container-fluid">
	<div class="row">
		<div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
			<button class="mb-model-detail-scroll-to-top"></button>
			<div class="mb-model-detail-navigation-sub">
				<p class="mb-model-detail-navigation-sub-title hidden-xs hidden-sm">
					A 180 - Sondermodell StreetStyle - Gesamtpreis 39.269,35 €
				</p>
				<div class="dropdown hidden-lg">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Schnellzugriff
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div>
				<ul class="mb-model-detail-navigation-sub-list hidden-xs hidden-sm hidden-md">
					<li>Exterieur</li>
					<li>Interieur</li>
					<li>Ausstattung</li>
					<li>Motorisierung</li>
					<li>Angebotsdaten</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6 text-right">
			<button class="mb-model-detail-navigation-sub-action mb-model-detail-navigation-sub-action-recall">Rückruf</button>
			<button class="mb-model-detail-navigation-sub-action mb-model-detail-navigation-sub-action-chat">Live-Chat</button>
			<button class="mb-model-detail-navigation-sub-action mb-model-detail-navigation-sub-action-test-drive">Probe fahren</button>
			<button class="mb-model-detail-navigation-sub-order">Bestellen</button>
		</div>
	</div>
</nav>
<!-- EXT_ -->
<!-- CompositeView + Modal/CompositeView -->
<div class="mb-model-detail-exterior-region"></div>

<!-- INT_ -->
<!-- CompositeView + Modal/CompositeView -->
<div class="mb-model-detail-interior-region"></div>

<!-- AHL_ ASL_ -->
<!-- CompositeView + Modal/CompositeView + Modal/ItemView -->
<div class="mb-model-detail-features-region"></div>

<!-- OFF_ -->
<!-- ItemView -->
<div class="mb-model-detail-offer-region"></div>