{{!-- <h1>TEST</h1> --}}
<ul class="stage-slider-list">

</ul>
<div class="progress-bar">
  <div class="progress-indicator"></div>
</div>
<div class="carusel-nav">
  <span class="nav-button prev"></span>
  <span class="nav-button next"></span>
</div>
