<div class="carusel-container">

  <h2>{{locale "quickEntryLevelTemplate.header"}}</h2>

  <ul class="quick-list"></ul>
</div>
<div class="carusel-nav">
  <span class="nav-button prev"></span>
  <span class="nav-button next"></span>
</div>
