<div class="container-md">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mb-sheckout-final-step">
    	<div class="row">
    		<div class="col-xs-12">
    			<h2>
    				Vielen Dank für Ihre Bestellung.
    			</h2>
    			<p>
    				Um die weitere Vorgehensweise abzustimmen, werden wir uns mit Ihnen in Verbindung setzen. Ihre Bestellung können Sie unter "Mein Store" jederzeit einsehen.
    			</p>
    			<h3>
    				So geht es weiter.
    			</h3>
    			<p>
    				<b>1. Ihre Registrierung</b>
    			</p>
    			<p>
    				Um Ihre Registrierung abzuschließen, folgen Sie bitte dem Link, den wir Ihnen per E-Mail geschickt haben. Sobald Sie Ihre Registrierung abgeschlossen haben, gibt die Daimler AG Ihre Daten an die Mercedes-Benz Leasing GmbH weiter. Bitte denken Sie daran, dass Ihre Registrierung erfolgreich abgeschlossen sein muss, damit wir Ihre Bestellung weiter bearbeiten können.
    			</p>
    			<p>
    				<b>2. Ihr Leasingvertrag</b>
    			</p>
    			<p>
	    			Anschließend wird sich unser Team umgehend mit Ihnen in Verbindung setzen und die weitere Vorgehensweise zum Abschluss des Leasingvertrages mit Ihnen abstimmen. Das Team benötigt zur Leasingvertragserstellung weitere Informationen wie Ihre Bankdaten und den Schadenfreiheitsrabatt Ihrer Kfz-Versicherung. Anschließend wird Ihnen der Leasingvertrag per Post zugestellt.

						Dann haben Sie die Wahl: Sie können den unterschriebenen Leasingvertrag via Post-Identverfahren zurückschicken oder unser mobiler Berater holt diesen bei Ihnen ab. Folgende Nachweise legen Sie bitte dem Leasingvertrag bei:
					</p>
					<ul>
						<li>Ihre letzten drei Gehaltsabrechnungen</li>
						<li>Eine Kopie der gültigen Aufenthaltserlaubnis (sofern kein EU-Staatsbürger)</li>
						<li>Informationen über Ihre Vorversicherung (Vorversicherer, Versicherungsscheinnummer und einbringbarer		Schadenfreiheitsrabatt)</li>
					</ul>
					<p>
						Mit den Unterlagen nehmen wir eine Kreditprüfung vor. Sind alle Voraussetzungen für den Leasingvertrag erfüllt, erhalten Sie Ihren Leasingvertrag per Post. Kommt der Leasingvertrag nicht zustande, verliert auch Ihre Fahrzeugbestellung die Gültigkeit. Mit Lieferung des Fahrzeugs erfolgt die erste Zahlung. Diese enthält sowohl die Leasingsonderzahlung als auch die erste Rate.
					</p>
					<a href="#" class="mb-checkout-print-results">Bestellung drucken</a>
    		</div>
    	</div>
		</div>
	</div>	
</div>

<div class="container-md">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mb-checkout-form-navigation-block">
      <div class="row">
		    <div class="col-xs-12 text-right">
		      <button class="btn btn-default mb-checkout-form-navigation-next js-finish">Zur Startseite</button>
		    </div>
      </div>
    </div>
  </div>
</div>

<div class="container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="mb-contacts-dark-block">
				<h3>Haben Sie Fragen zu diesem Angebot?</h3>
				<div class="row">
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-callback">
							Rückruf
							<br>
							anfordern
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-chat">
							Live-Chat
							<br>
							starten
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-consult">
							Beratung vor Ort
							<br>
							vereinbaren
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-email">
							Anfrage per E-Mail
							<br>
							senden
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>