STEP FOUR
<div class="container-fluid mb-checkout-form-navigation-block">
  <div class="row">
    <div class="col-xs-6 text-left">
      <button class="mb-checkout-form-navigation-finish js-finish">Finish</button>
    </div>
  </div>
</div>