STEP FOUR
<div class="container-md">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 mb-checkout-form-navigation-block">
      <div class="row">
		    <div class="col-xs-12 text-right">
		      <button class="btn btn-default mb-checkout-form-navigation-next js-finish">Zur Startseite</button>
		    </div>
      </div>
    </div>
  </div>
</div>