<div class="mb-checkout-form-wrapper container-md">
  <div class="row">
    <form class="col-xs-8 col-xs-offset-2">
      <h2>Wo möchten Sie beraten werden?</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-lg" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="delivery-type" id="option-1" autocomplete="off" checked> Wunschadresse
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="delivery-type" id="option-2" autocomplete="off"> Mercedes-Benz Partner
            </label>
          </div>
        </div>
      </div>
      <h3>Bitte geben Sie Ihre Wunschadresse im Hamburger Stadtgebiet an. Wir kommen zu Ihnen.</h3>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-1">Straße <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-1" name="delivery-street">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-2">Nummer <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-2" name="delivery-house">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-3">Adresszusatz</label>
                <input type="text" class="form-control data-field" id="field-3" name="delivery-additional">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-4">PLZ <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="delivery-index">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-5">Ort <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="delivery-city">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
      </div>
      <hr>
      <h2>Wann möchten Sie beraten werden?</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <div class='input-group mb-date-wrapper' id='field-date-wrapper'>
                  <label for="field-1">Datum</label>
                  <div id="field-date" name="delivery-date"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-5">Startzeit</label>
                <select class="form-control" id="field-1" name="delivery-time">
                  <option value="">9 : 00 Uhr</option>
                  <option value="">10 : 00 Uhr</option>
                  <option value="">11 : 00 Uhr</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2>Persönliche Daten.</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-1">Anrede <sup>*</sup></label>
                <select class="form-control data-field" id="field-1" name="personal-salutation">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-5">Titel</label>
                <select class="form-control" id="field-1" name="personal-title">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-1">Vorname <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-first-name">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-1">Nachname <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-second-name">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">Firma</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-company">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-1">Straße <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-1" name="personal-street">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-2">Nummer <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-2" name="personal-house">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">Adresszusatz</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-additional">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-4">PLZ <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="personal-index">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-5">Ort <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-city">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">E-Mail <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-email">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">Telefon</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-phone">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
      </div>
      <h2>Besondere Wünsche.</h2>
      <h3><b>Haben Sie ein Wunschkennzeichen?</b></h3>
      <h3>
        Wir werden Ihr Wunschkennzeichen beantragen. Sollte Ihr Wunschkennzeichen bereits vergeben sein, werden wir Sie direkt darüber informieren und Alternativen vorschlagen.
      </h3>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-10">
              <div class="form-group">
                <label for="field-1">Wunschkennzeichen</label>
                <input type="text" class="form-control data-field" id="field-5" name="license-plates">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3><b>Möchten Sie Ihr aktuelles Fahrzeug in Zahlung geben?</b></h3>
      <h3>
        Nutzen Sie Ihr aktuelles Fahrzeug als Startkapital. Unsere Experten bewerten gerne Ihr Fahrzeug und bieten
        Ihnen einen fairen Inzahlungnahmepreis an.
      </h3>
      <div class="row">
        <div class="col-xs-4">
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="trade-in" id="option-1" autocomplete="off" checked> Ja
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="trade-in" id="option-2" autocomplete="off"> Nein
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">Hersteller/Typ <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="trade-in-model">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-4">Erstzulassung <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="trade-in-date">
                <span class="form-error-message"></span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-5">Kilometerstand <sup>*</sup></label>
                <div class="input-group">
                  <input type="text" class="form-control data-field" id="field-5" name="trade-in-km">
                  <span class="input-group-addon" id="basic-addon2">km</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-md">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 mb-checkout-form-navigation-block">
      <div class="row">
        <div class="col-xs-6 text-left">
          <button class="btn btn-default mb-checkout-form-navigation-back js-prev">Back</button>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-primary mb-checkout-form-navigation-next js-next">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>