<div class="mb-checkout-step-one-region mb-checkout-step"></div>
<div class="mb-checkout-step-two-region mb-checkout-step"></div>
<div class="mb-checkout-step-three-region mb-checkout-step"></div>
<div class="mb-checkout-step-four-region mb-checkout-step"></div>
