<button type="button" class="close" aria-hidden="true">&times;</button>
<div class="modal-content">

  <div class="modal-header">
    <h4 class="modal-title">Ihr Wunschfahrzeug.</h4>
  </div>
  <form>
    <div class="modal-body mb-modal-dreamcar">
      <div class="row">
        <div class="col-xs-12">
          <h3>
            <b>Ihre individuelle Konfiguration.</b>
            <br>
            Im Mercedes-Benz Konfigurator können Sie sich Ihren individuellen Mercedes-Benz konfigurieren. Den Online Code, den Sie für diese Konfiguration erhalten, können Sie uns hier mitteilen. Wie unterbreiten Ihnen dann ein attraktives Angebot für genau diese Konfiguration.
          </h3>
          <div class="mb-configuration-button">
            <a href="#">
                <i class="mb-configuration-right-angle"></i>
                Zum Konfigurator
            </a>
          </div>
          <h3>Oder beschreiben Sie uns einfach, wie Ihr Wunschfahrzeug aussehen soll. Wir kommen dann umgehend auf Sie zu.</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="field-1">Online Code oder Beschreibung <sup>*</sup></label>
            <textarea class="form-control"></textarea>
            <label for="field-2" class="mb-form-sublabel">(Noch 500 Zeichen)</label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="mb-form-helper-text">
            Bitte geben Sie den Online Code aus dem Mercedes-Benz Konfigurator ein oder beschreiben Sie Ihr Wunschfahrzeug. Gerne können Sie uns auch mitteilen, ob Sie das Fahrzeug kaufen, leasen oder finanzieren wollen.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group">
                <label for="field-1">Anrede <sup>*</sup></label>
                <select class="form-control" id="field-1" name="salutation">
                  <option value="" selected="">--</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
                <span class="form-error-message">Enter value</span>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="form-group">
                <label for="field-2">Titel</label>
                <select class="form-control" id="field-2" name="title">
                  <option value="" selected="">--</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                </select>
                <label for="field-2" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-3">Vorname <sup>*</sup></label>
                <input type="text" class="form-control" id="field-3" name="firstName">
                <span class="form-error-message">Enter your Vorname</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-4">Nachname <sup>*</sup></label>
                <input type="text" class="form-control" id="field-4" name="lastName">
                <span class="form-error-message">Enter your Nachname</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-5">Email <sup>*</sup></label>
                <input type="email" class="form-control" id="field-5" name="email">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <h3>Gerne beraten wir Sie auch telefonisch über unsere Angebote.</h3>
          <ul class="mb-form-list-switches">
              <li>
                <label>
                  <input type="checkbox" name="individual-consultation">
                  <span class="mb-catalogue-filter-checkbox-wrapper"></span>
                  <span class="mb-catalogue-filter-title">
                    Ich wünsche eine persönliche Beratung
                  </span>
                </label>
              </li>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-5">Telefon <sup>*</sup></label>
                <input type="text" class="form-control" id="field-5" name="phone">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <ul class="mb-form-list-switches mb-form-list-switches-inline">
                <li>
                  <label>
                    <input type="radio" name="phone-options">
                    <span class="mb-catalogue-filter-checkbox-wrapper"></span>
                    <span class="mb-catalogue-filter-title">
                      Privat
                    </span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="phone-options">
                    <span class="mb-catalogue-filter-checkbox-wrapper"></span>
                    <span class="mb-catalogue-filter-title">
                      Geschäftlich
                    </span>
                  </label>
                </li>
              </ul>
              <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
          </div>
        </div>
      </div>
      
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Rückruf anfordern</button>
    </div>
  </form>
</div>
