<div class="index__billboard">
	<div class="mb-store-info-wrapper">
		<div class="container-fluid">
			<ul class="mb-nav-inside">
				<li><a data-tab="tab1" href="#" class="mb-nav-inside-link active">Über den Store</a></li>
				<li><a data-tab="tab2" href="#" class="mb-nav-inside-link">Aktuelle Aktionen</a></li>
				<li><a data-tab="tab3" href="#" class="mb-nav-inside-link">Leasing-Komplettpaket</a></li>
				<li><a data-tab="tab4" href="#" class="mb-nav-inside-link">Bestellprozess</a></li>
				<li><a data-tab="tab5" href="#" class="mb-nav-inside-link">FAQ</a></li>
				<li><a data-tab="tab6" href="#" class="mb-nav-inside-link">AGB</a></li>
				<li><a data-tab="tab7" href="#" class="mb-nav-inside-link">Widerruf</a></li>
			</ul>
			<!-- =======================Uber den Store header============================= -->
			<div class="tab1 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Der schnellste und einfachste Weg zu Ihrem neuen
						Mercedes-Benz.
					</h1>
					<p class="mb-store-info-desc">
						Mit dem Mercedes-Benz Online Store bieten wir Ihnen erstmalig die Möglichkeit, Ihren Mercedes-Benz mit wenigen Klicks online zu bestellen. Kurze Lieferzeiten, umfangreiche Serviceleistungen und attraktive Leasingkonditionen -
						alle Informationen finden Sie hier oder direkt im Chat.
					</p>
				</div>
			</div>
			<!-- =======================end============================= -->

			<!-- =============================Aktuelle Aktionen header============================= -->
			<div class="tab2 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Der schnellste und einfachste Weg zu Ihrem neuen
						Mercedes-Benz.
					</h1>
				</div>
			</div>
			<!-- ========================end============================= -->

			<!-- =====================Leasing-Komplettpaket header======================= -->
			<div class="tab3 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Der schnellste und einfachste Weg zu Ihrem neuen
						Mercedes-Benz.
					</h1>
				</div>
			</div>
			<!-- =========================end============================== -->

			<!-- =====================Bestellprozess header======================= -->
			<div class="tab4 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Der schnellste und einfachste Weg zu Ihrem neuen
						Mercedes-Benz.
					</h1>
				</div>
			</div>
			<!-- ==========================end=========================== -->

			<!-- ====================FAQ header======================== -->
			<div class="tab5 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Der schnellste und einfachste Weg zu Ihrem neuen
						Mercedes-Benz.
					</h1>
					<p class="mb-store-info-desc">
						Mit dem Mercedes-Benz Online Store bieten wir Ihnen erstmalig die Möglichkeit, Ihren Mercedes-Benz mit wenigen Klicks online zu bestellen. Kurze Lieferzeiten, umfangreiche Serviceleistungen und attraktive Leasingkonditionen -
						alle Informationen finden Sie hier oder direkt im Chat.
					</p>
				</div>
			</div>
			<!-- ============================end=============================== -->

			<!-- =====================AGB header======================= -->
			<div class="tab6 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Allgemeine Geschäftsbedingungen und Informationen.
					</h1>
					<p class="mb-store-info-desc">
						Hier finden Sie die Geschäftsbedingungen zu den Angeboten im Mercedes-Benz Online Store. Die Geschäftsbedingungen liegen im PDF-Format zum Download für Sie bereit. Um sie betrachten zu können, benötigen Sie den Acrobat Reader von Adobe. Sie können ihn kostenlos bei 
						<a class="mb-store-info-link-gray" href="www.adobe.com">www.adobe.com</a> herunter laden.
					</p>
				</div>
			</div>
			<!-- =======================end============================ -->

			<!-- ====================Widerruf header======================== -->
			<div class="tab7 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						Widerrufsbelehrung.
					</h1>
				</div>
			</div>
			<!-- =========================end=================================== -->


			<div class="mb-store-info-main row">

			<!-- =======================Uber den Store header============================= -->
			<div class="tab1 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="mb-store-info-news row">
					<div class="news-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<img src="/images/content/store-info-1.jpg" alt="foto-1">
					</div> 
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4 class="news-title">Ausgewählte Mercedes-Benz Neufahrzeuge und sehenswerte Aktionen.</h4>
						<p class="news-desc">
							Wir haben Ihre beliebtesten Ausstattungen, mit unseren besten Leasing-, Versicherungs und Service-Konditionen zu einem Komplettpaket für Sie zusammengestellt. Und alle Fahrzeuge sind kurzfristig lieferbar - in der Regel innerhalb von 14 Tagen.
						</p>
						<a class="news-link" href="#">Aktuelle Aktionen ansehen</a>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<img src="/images/content/store-info-2.jpg" alt="foto-2">
					</div> 
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4 class="news-title">Rundum-Sorglos mit unserem Leasing-Komplett-Paket.</h4>
						<p class="news-desc">
							Jedes Fahrzeug hat ein attraktives Leasingangebot. Mit
							Versicherung, Wartung und Verschleißreparaturen sowie
							Überführung und Zulassung bieten wir Ihnen ein umfangreiches Komplettpaket. Ergänzt wird das Angebot durch ein exklusives Extra - dem Online-Special.
						</p>
						<a class="news-link" href="#">Weitere Informationen zum Leasing-Komplettpaket</a>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<img src="/images/content/store-info-2.jpg" alt="foto-2">
					</div> 
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4 class="news-title">Auch online bestens beraten.</h4>
						<p class="news-desc">
							Ob Chat, Telefon oder E-Mail - unser Team beantwortet alle
							Fragen zum Angebot. Wenn Sie eine Probefahrt wünschen,
							dann bringt Ihnen unser mobiler Berater das Fahrzeug direkt
							nach Hause oder zur Mittagspause zu Ihrer Arbeitsstelle.
						</p>
						<a class="news-link" href="#">Weitere Informationen zu Kontakt und Beratung</a>
					</div>
				</div>
			</div>
			<!-- =================================end================================== -->

			<!-- =============================Aktuelle Aktionen============================= -->
			<div class="tab2 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="mb-store-info-news row">
					<div class="news-img big col-lg-12">
						<img src="/images/content/store-info-page2-1.jpg" alt="foto-1">
					</div> 
					<div class="col-lg-12">
						<h4 class="news-title">Ausgewählte Mercedes-Benz Neufahrzeuge und sehenswerte Aktionen.</h4>
						<p class="news-desc">
							Wir haben Ihre beliebtesten Ausstattungen, mit unseren besten Leasing-, Versicherungs und Service-Konditionen zu einem Komplettpaket für Sie zusammengestellt. Und alle Fahrzeuge sind kurzfristig lieferbar - in der Regel innerhalb von 14 Tagen.
						</p>
						<p class="mb-campaign-text-important">
							Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>1</sup>
						</p>
						<div class="mb-campaign-action-block">
							<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
						</div>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img big col-lg-12">
						<img src="/images/content/store-info-page2-2.jpg" alt="foto-2">
					</div> 
					<div class="col-lg-12">
						<h4 class="news-title">Ausgewählte Mercedes-Benz Neufahrzeuge und sehenswerte Aktionen.</h4>
						<p class="news-desc">
							Wir haben Ihre beliebtesten Ausstattungen, mit unseren besten Leasing-, Versicherungs und Service-Konditionen zu einem Komplettpaket für Sie zusammengestellt. Und alle Fahrzeuge sind kurzfristig lieferbar - in der Regel innerhalb von 14 Tagen.
						</p>
						<p class="mb-campaign-text-important">
							Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>1</sup>
						</p>
						<div class="mb-campaign-action-block">
							<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
						</div>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img big col-lg-12">
						<img src="/images/content/store-info-page2-3.jpg" alt="foto-3">
					</div> 
					<div class="col-lg-12">
						<h4 class="news-title">Ausgewählte Mercedes-Benz Neufahrzeuge und sehenswerte Aktionen.</h4>
						<p class="news-desc">
							Wir haben Ihre beliebtesten Ausstattungen, mit unseren besten Leasing-, Versicherungs und Service-Konditionen zu einem Komplettpaket für Sie zusammengestellt. Und alle Fahrzeuge sind kurzfristig lieferbar - in der Regel innerhalb von 14 Tagen.
						</p>
						<p class="mb-campaign-text-important">
							Ab 299,-€ mtl. Leasing-Rate. Ohne Anzahlung.<sup>1</sup>
						</p>
						<div class="mb-campaign-action-block">
							<button class="mb-campaign-action-button">Zu den StreetStyle-Angeboten</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ====================end======================== -->

			<!-- =====================Leasing-Komplettpaket======================= -->
				<div class="tab3 col-xs-12 col-sm-6 col-md-8 col-lg-8">
					
					<div class="mb-store-info-news row">
						<div class="news-img big col-lg-12">
							<img src="/images/content/store-info-page3-1.jpg" alt="foto-1">
						</div> 
						<div class="col-lg-12">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
											Leasing &amp; Versicherung
										</a>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">
											<ul class="panel-advantages-list">
												<li>
													Leasing inklusive Haftpflicht- und Vollkaskoversicherung
												</li>
												<li>
													Eine konstante Versicherungsprämie über die gesamte Laufzeit - auch im Schadensfall
												</li>
												<li>
													Vollständiger Ersatz bei Diebstahl von Audio-, Video-, Kommunikations- und
													Leitsystemen bis 6 Monate nach Erstzulassung
												</li>
											</ul>
											<p class="panel-additional-text">
												Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
											</p>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
											Wartung und Verschleißrepara...
										</a>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
											Überführung und Zulassung
										</a>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			<!-- ====================end======================== -->

			<!-- =====================Bestellprozess======================= -->
				<div class="tab4 col-xs-12 col-sm-6 col-md-8 col-lg-8">
					<div class="mb-store-info-news row clearfix">
						<div class="news-img news-img-small col-xs-6 col-sm-12 col-md-6 col-lg-6 pull-left">
							<img src="/images/content/store-info-page4-1.jpg" alt="foto-1">
						</div> 
						<div>
							<h4 class="news-title">Ihre Fahrzeugbestellung.</h4>
							
							<p class="news-desc">
								Mit dem Online-Bestellprozess bestellen Sie Ihren
								Mercedes-Benz. Das ausgesuchte Fahrzeug steht zum
								Abschluss des Leasingvertrags für Sie bereit. Für die
								Bestellung benötigen wir noch Ihre persönlichen Daten
								und Ihre Anmeldung bzw. Registrierung.
							</p>
							<p class="news-desc">
								Teilen Sie uns gleich mit, wann und wohin wir Ihr neues
								Fahrzeug liefern sollen.
							</p>
							<p class="news-desc">
								Gerne übernehmen wir die Zulassung Ihres neuen Fahrzeugs und beantragen dabei Ihr Wunschkennzeichen. Falls Sie Ihr aktuelles Fahrzeug in Zahlung geben möchten, können Sie uns dies bereits angeben. Bevor Sie Ihre Bestellung abschließen, können Sie Ihre Angaben überprüfen und ändern. Bitte akzeptieren Sie noch
							</p>
						</div>
					</div>
					<div class="mb-store-info-news row clearfix">
						<div class="news-img news-img-small col-xs-6 col-sm-12 col-md-6 col-lg-6 pull-left">
							<img src="/images/content/store-info-page4-2.jpg" alt="foto-1">
						</div> 
						<div>
							<h4 class="news-title">Ihr Leasingvertrag</h4>
							
							<p class="news-desc">
								Im Anschluss erstellt unser Team mit Ihnen den
								Leasingvertrag. Wir melden uns bei Ihnen, um weitere
								Informationen wie Ihre Bankdaten und den
								Schadenfreiheitsrabatt Ihrer Kfz-Versicherung einzuhole
							</p>
							<p class="news-desc">
								Dann haben Sie die Wahl: Sie können den unterschriebenen Leasingvertrag via Post-Identverfahren zurückschicken oder unser mobiler Berater holt diesen bei
							</p>
							<p class="news-desc">
								Für den erfolgreichen Abschluss des Leasingvertrags benötigen wir noch folgende Nachweise von Ihnen: Ihre letzten drei Gehaltsabrechnungen, eine Kopie der gültigen Aufenthaltserlaubnis (sofern kein EUIhre Lieferung Alles was Sie jetzt noch tun müssen, ist warten. Und das in der Regel nicht länger als 14 Tage bis wir Ihr Fahrzeug liefern. Über den Store Aktuelle Aktionen Leasing-Komplettpaket Bestellprozess Häufig gestellte Fragen AGB Widerruf Bevor Sie Ihre Bestellung abschließen, können Sie Ihre Angaben überprüfen und ändern. Bitte akzeptieren Sie noch die 
							</p>
							<p class="news-desc">
								Schon können Sie Ihre Fahrzeugbestellung abschicken. Staatsbürger) und Informationen über Ihre Vorversicherung (Vorversicherer, Versicherungsscheinnummer und freier, einbringbarer Schadenfreiheitsrabatt). Mit den Unterlagen nehmen wir eine Kreditprüfung vor. Sind alle Voraussetzungen für den Leasingvertrag erfüllt, erhalten Sie Ihren Leasingvertrag per Post. Kommt der Leasingvertrag nicht zustande, verliert auch Ihre Fahrzeugbestellung die Gültigkeit. 
							</p>
						</div>
					</div>
					<div class="mb-store-info-news row clearfix">
						<div class="news-img news-img-small col-xs-6 col-sm-12 col-md-6 col-lg-6 pull-left">
							<img src="/images/content/store-info-page4-3.jpg" alt="foto-1">
						</div> 
						<div>
							<h4 class="news-title">Ihre Lieferung.</h4>
							<p class="news-desc">
								Alles was Sie jetzt noch tun müssen, ist warten. Und das in der Regel nicht länger als 14 Tage bis wir Ihr Fahrzeug liefern.
							</p>
						</div>
					</div>
				</div>
			<!-- ===================end========================= -->

			<!-- ====================FAQ======================== -->
				<div class="tab5 col-xs-12 col-sm-6 col-md-8 col-lg-8">
					<div class="panel-group" id="accordion2">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-1">
									Leasing &amp; Versicherung
								</a>
							</div>
							<div id="collapse2-1" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul class="panel-advantages-list">
										<li>
											Leasing inklusive Haftpflicht- und Vollkaskoversicherung
										</li>
										<li>
											Eine konstante Versicherungsprämie über die gesamte Laufzeit - auch im Schadensfall
										</li>
										<li>
											Vollständiger Ersatz bei Diebstahl von Audio-, Video-, Kommunikations- und
											Leitsystemen bis 6 Monate nach Erstzulassung
										</li>
									</ul>
									<p class="panel-additional-text">
										Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
									</p>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-2">
									Wartung und Verschleißrepara...
								</a>
							</div>
							<div id="collapse2-2" class="panel-collapse collapse">
								<div class="panel-body">
									Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-3">
									Überführung und Zulassung
								</a>
							</div>
							<div id="collapse2-3" class="panel-collapse collapse">
								<div class="panel-body">
									Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-4">
									Überführung und Zulassung
								</a>
							</div>
							<div id="collapse2-4" class="panel-collapse collapse">
								<div class="panel-body">
									Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-5">
									Überführung und Zulassung
								</a>
							</div>
							<div id="collapse2-5" class="panel-collapse collapse">
								<div class="panel-body">
									Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- ===================end========================= -->

			<!-- =====================AGB======================= -->
			<div class="tab6 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="download-block col-lg-12">
					<h4>Kauf</h4>
					<a class="download-link" href="#">Verbraucherinformationen Mercedes-Benz Online Store (PDF)</a>
					<a class="download-link" href="#">Verbraucherinformationen Mercedes-Benz Online Store (PDF)</a>
				</div>
				<div class="download-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h4>Leasing</h4>
					<a class="download-link" href="#">Allgemeine Geschäftsbedingungen der Mercedes-Benz Leasing GmbH für das Leasing von Fahrzeugen (PDF)</a>
				</div>
				<div class="download-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h4>Wartung und Verschleißreparaturen</h4>
					<a class="download-link" href="#">Leistungsbeschreibung Wartung und Verschleißreparaturen (PDF)</a>
				</div>
				<div class="download-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h4>Versicherung</h4>
					<a class="download-link" href="#">Versicherungsunterlagen für Privat Leasing (PDF)</a>
					<a class="download-link" href="#">Vermittlerinformationen (PDF)</a>
				</div>
			</div>
			<!-- ===================end========================= -->

			<!-- ====================Widerruf======================== -->
			<div class="tab7 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="desc-block col-lg-12">
					<p>Widerrufsrecht</p>
					<p>
						Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat. 
					</p>
					<p>
						Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Daimler AG, Mercedes-Benz Niederlassung Hamburg, Friedrich-Ebert-Damm 115, 22047 Hamburg, Telefon 040 / 6941 4444, Telefax 040/6941-2099, E-Mail support@mercedes-benz.com) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
					</p>
					<p>
						Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
					</p>
					<a class="download-link" href="#">Muster Widerrufsformular (PDF)</a>
				</div>
				<div class="desc-block col-lg-12">
					<h5>Folgen des Widerrufs</h5>
					<p>
						Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist. 
					</p>
					<p>
						Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrages unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Wir tragen die Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.
					</p>
					<p>
						Das Widerrufsrecht gilt nur für Verbraucher. Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können.
					</p>
					<a class="print-link" href="#">Seite drucken</a>
				</div>
			</div>
			<!-- ====================end======================== -->
				<div class="mb-catalogue-dark-block col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="mb-dark-block-title">Haben Sie noch Fragen zu
						<br>unseren Angeboten?
					</div>
					<ul class="mb-dark-block-list">
						<li class="js-call-callback-modal"><i class="mb-icon-phone"></i>Rückruf anfordern <i class="pull-right md-icon-right-angle"></i></li>
						<li><i class="mb-icon-chat"></i>Live-Chat starten <span class="pull-right md-icon-right-angle"></span></li>
						<li class="js-support-modal"><i class="mb-icon-people"></i>Beratung vor Ort vereinbaren <span class="pull-right md-icon-right-angle"></span></li>
						<li class="js-call-email-modal"><i class="mb-icon-letter"></i>Anfrage per E-Mail senden <span class="pull-right md-icon-right-angle"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>