{{locale "some:text"}}
<nav class="navbar navbar-default mb-header-navbar">
  <div class="container-fluid">
    <div class="mb-header-navbar-main-area">
      <div class="mb-header-logo-wrapper">
        <a class="mb-header-logo" href="#">
          <span class="mb-header-logo-image"></span>
          <span class="mb-header-logo-text"></span>
        </a>
      </div>
      <div class="mb-header-mobile-title-wrapper hidden-sm hidden-md hidden-lg hidden">
        <a class="mb-header-mobile-back" href="#"></a>
        <h1 class="mb-header-mobile-title">Alle Angebote</h1>
      </div>
      <div class="mb-topnav-wrapper hidden-xs">
        <ul class="mb-topnav-level-1">
          <li class="mb-topnav-level-1-item hidden-xs">
            <a href="/">Startseite</a>
          </li>
          <li class="mb-topnav-level-1-item hidden-xs hidden-lg hidden-md-desktop">
            <a href="#">Store-Info</a>
          </li>
          <li class="mb-topnav-level-1-item hidden-xs hidden-md hidden-lg">
            <a href="#">Kontakt</a>
          </li>
          <li class="mb-topnav-level-1-item hidden-xs hidden-md hidden-lg">
            <a href="#">Store-Login</a>
          </li>
          <li class="mb-topnav-level-1-item hidden-xs">
            <a href="#" class="js-store-info">
              <span class="mb-topnav-info-icon"></span>
              Anbieter / Datenschutz
            </a>
          </li>
        </ul>
        <ul class="mb-topnav-level-2">
          <li class="mb-topnav-level-2-item hidden-xs">
            <a href="#catalogue">Alle Angebote</a>
          </li>
          <li class="mb-topnav-level-2-item hidden-xs">
            <a href="#models">Modellübersicht</a>
          </li>
          <li class="mb-topnav-level-2-item hidden-xs">
            <a href="#watchlist">Merkliste</a>
          </li>
          <li class="mb-topnav-level-2-item hidden-xs hidden-sm hidden-md-tablet">
            <a href="#storeinfo">Store-Info</a>
          </li>
          <li class="mb-topnav-level-2-item hidden-xs hidden-sm">
            <a href="#contact">Kontakt</a>
          </li>
          <li class="mb-topnav-level-2-item hidden-xs hidden-sm">
            <a href="#">Store-Login</a>
          </li>
          <li class="mb-topnav-level-2-item dropdown hidden-xs hidden-sm">
            <a href="#" class="dropdown-toggle" id="myStoreDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Mein Store
            </a>
            <ul class="dropdown-menu pull-right" aria-labelledby="myStoreDropdown">
              <li class="mb-mein-store-dropdown-important"><a>Herr Klaus Schmidt</a></li>
              <li><a href="#mydata">Meine Daten</a></li>
              <li><a href="#">Meine Bestellungen</a></li>
              <li class="mb-mein-store-dropdown-logout"><a href="#">Abmelden</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mb-topnav-mobile-wrapper hidden-sm hidden-md hidden-lg">
        <a href="#" class="mb-topnav-mobile-info"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mb-sidebar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse mb-sidebar-wrapper" id="mb-sidebar">
        <ul class="nav navbar-nav mb-sidebar-list">
          <li class="mb-sidebar-item">
            <a href="/">Startseite</a>
          </li>
          <li class="mb-sidebar-item">
            <a href="#" class="js-store-info">
              <span class="mb-topnav-info-icon"></span>
              Anbieter / Datenschutz
            </a>
          </li>
          <li class="mb-sidebar-item">
            <a href="#">Merkliste</a>
          </li>
          <li class="mb-sidebar-item">
            <a href="#">Store-Info</a>
          </li>
          <li class="mb-sidebar-item">
            <a href="#">Kontakt</a>
          </li>
          <li class="mb-sidebar-item">
            <a href="#">Store-Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-header-navbar-additional-area hidden-xs hidden-sm hidden-md hidden-lg">
      <div class="row">
        <div class="col-xs-6">
          <a class="mb-header-navbar-additional-link" href="#catalogue">Alle Angebote</a>
        </div>
        <div class="col-xs-6">
          <a class="mb-header-navbar-additional-link" href="#">
            <span class="mb-header-navbar-search-icon"></span>
            Modellübersicht
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
