<div class="modal-content">
  <div class="modal-body">
    <button type="button" class="close" aria-hidden="true"><i class="close-icon"></i></button>
    <div style="width: 100%; min-height: 100px;"></div>
  </div>
</div>
