<button type="button" class="close" aria-hidden="true">&times;</button>
<div class="modal-content">
	<div class="mb-test-drive-step-one-region mb-test-drive-step"></div>
	<div class="mb-test-drive-step-two-region mb-test-drive-step"></div>
	<div class="mb-test-drive-step-three-region mb-test-drive-step"></div>
</div>
