<div class="mb-catalogue-tags-block row">
	<div class="col-xs-12">
		<ul class="mb-catalogue-tags"></ul>
		<button class="mb-clear-catalogue-tags js-clear-catalogue-tags">Filter zurücksetzen</button>
	</div>
</div>
