<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mb-contact-text">
        <div class="mb-contact-text-title">
          Bestens beraten - Online oder vor Ort.
        </div>
        Mit dem Mercedes-Benz Online Store bieten wir Ihnen erstmalig die Möglichkeit, Ihren Mercedes-Benz mit wenigen Klicks online zu bestellen.
        Kurze Lieferzeiten, umfangreiche Serviceleistungen und attraktive Leasingkonditionen - alle Informationen finden Sie hier oder direkt im Cha
      </div>
    </div>
  </div>
</div>
<div class="mb-contact-banner">
  <div class="mb-banner-text-block">
    <div class="mb-banner-text-wrap">
      <div class="mb-banner-text-title">
        Wünschen Sie eine Probefahrt?
      </div>
      <div class="mb-banner-text">
        Lernen Sie Ihr Wunschfahrzeug bei einer Probefahrt kennen und lassen Sie sich begeistern.
        Auf Wunsch bringen wir Ihnen das Fahrzeug auch gerne vorbei.
      </div>
      <button class="btn btn-lg btn-primary btn-14">
        <div class="mb-icon-wrap">
          <i class="mb-icon-calendar"></i>
        </div>
        Termin vereinbaren
      </button>
    </div>
  </div>
  <img src="/images/contact-banner.png" alt=""/>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-phone">
            <div class="mb-icon-contact"></div>
          </div>
          Kostenloser Rückruf
        </div>
        <div class="md-contact-card-content">
          <p>
            Nennen Sie uns einfach Datum und Uhrzeit und wir rufen Sie
            kostenlos zur?ck und beantworten alle Ihre Fragen telefonisch.
          </p>
          <button class="btn btn-secondary btn-lg btn-14">Rückruf anfordern</button>
          <p>
            Einfach anrufen unter 040 6941 4444
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-chat">
            <div class="mb-icon-contact"></div>
          </div>
          Online Beratung via Live-Chat
        </div>
        <div class="md-contact-card-content">
          <p>
            Mit unserer Live-Chat-Funktion können Sie einfach und direkt mit unseren speziell geschulten Beratern in Kontakt treten.
          </p>
          <button class="btn btn-secondary btn-lg btn-14">Live-Chat starten</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-users">
            <div class="mb-icon-contact"></div>
          </div>
          Persönliche Beratung vor Ort
        </div>
        <div class="md-contact-card-content">
          <p>
            Sie bevorzugen persönliche Beratung von Angesicht zu Angesicht?
            Dann vereinbaren Sie einfach einen vor Ort Termin und unserer mobiler Berater kommt direkt zu Ihnen.
          </p>
          <button class="btn btn-secondary btn-lg btn-14">Beratung vor Ort vereinbaren</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-letter">
            <div class="mb-icon-contact"></div>
          </div>
          Anfrage per E-Mail
        </div>
        <div class="md-contact-card-content">
          <p>
            Selbstverständlich können Sie uns auch gerne einfach eine E-Mail mit Ihrer Anfrage senden.
            Unsere Berater werden Ihnen schnellstmöglich antworten.
          </p>
          <button class="btn btn-secondary btn-lg btn-14">Anfrage per E-Mail senden</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-car">
            <div class="mb-icon-contact"></div>
          </div>
          Ihr Wunschfahrzeug
        </div>
        <div class="md-contact-card-content">
          <p>
            Falls Sie in unserem Bestand nicht das passende Fahrzeug gefunden haben, können Sie uns einfach Ihre Wünsche mitteilen.
            Wir finden das passende Fahrzeug für Sie und erstellen Ihnen gerne ein individuelles Angebot.
          </p>
          <button class="btn btn-secondary btn-lg btn-14">Wunschfahrzeug anfragen</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-info">
            <div class="mb-icon-contact"></div>
          </div>
          Angebote für Geschäftskunden
        </div>
        <div class="md-contact-card-content">
          <p>
            Für unsere Geschäftskunden gelten individuelle Angebote. Bitte wenden Sie sich direkt an unser
            Customer Contact Team.
            <br/><br/>
            Wir freuen uns auf Sie
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

