<button class="btn mb-scroll-to-top hidden-xs js-scroll-to-top"></button>
<form class="mb-catalogue-filters-form">
	<div class="mb-mobile-filters-block hidden-sm hidden-md hidden-lg">
		
	</div>
	<button class="mb-apply-filters-mobile hidden-sm hidden-md hidden-lg js-apply-filters-mobile">
		{{locale "filters.button.reset"}}
	</button>
	<ul class="mb-catalogue-filters-list">
		<li class="mb-catalogue-filters-list-title">{{locale "filters.title"}}</li>

	</ul>
</form>