<div class="mb-test-drive-banner">
	<img class="mb-model-detail-testdrive-img visible-xs-block" src="/images/contact/contact-banner-sm-1.jpg" alt="...">
	<img class="mb-model-detail-testdrive-img visible-sm-block" src="images/contact/contact-banner-md-1.jpg" alt="...">
	<img class="mb-model-detail-testdrive-img hidden-lg visible-md-block" src="/images/campaign/campaign-poster-1.jpg" alt="...">
	<img class="mb-model-detail-testdrive-img visible-lg-block" src="/images/contact-banner.png" alt="...">
</div>

<form>	
	<div class="modal-body">
		<h2>Bitte prüfen Sie Ihre Angaben.</h2>
		<ul class="mb-test-drive-detail-list">
		    <li class="row">
		      	<span class="col-xs-6">Ihr Probefahrzeug</span>
		      	<p class="col-xs-12 col-sm-6 text-right">C-Klasse Limousine</p>
		    </li>
		    <li class="row">
		      	<span class="col-xs-12 col-sm-6">Ihre Wünsche</span>
		      	<p class="col-xs-12 col-sm-6 text-right">AMG Line, Fahrassistenz-Paket Plus</p>
		    </li>
		    <li class="row">
		      	<span class="col-xs-12 col-sm-6">Startpunkt der Probefahrt</span>
		      	<p class="col-xs-12 col-sm-6 text-right">Schlüterstraße 104, 12087 Berlin</p>
		    </li>
		    <li class="row">
		      	<span class="col-xs-12 col-sm-6">Datum und Uhrzeit</span>
		      	<p class="col-xs-12 col-sm-6 text-right">Freitag, 31. Juli 2015, 9:00 Uhr</p>
		    </li>
		    <li class="row">
		      	<span class="col-xs-12 col-sm-6">Email</span>
		      	<p class="col-xs-12 col-sm-6 text-right">klaus.schmidt@googlemail.com</p>
		    </li>
		    <li class="row">
		      	<span class="col-xs-12 col-sm-6">Telefon</span>
		      	<p class="col-xs-12 col-sm-6 text-right">1234567890</p>
		    </li>
		</ul>
	</div>
	<div class="mb-test-drive-form-navigation-block">
		<div class="row">
	        <div class="col-xs-12 col-sm-6 mb-checkout-form-btn-left">
	         	<button class="btn btn-default mb-checkout-form-navigation-back js-prev">Angaben ändern</button>
	        </div>
	        <div class="col-xs-12 col-sm-6 mb-checkout-form-btn-right">
	          	<button class="btn btn-primary mb-checkout-form-navigation-next js-next">Probefahrt buchen</button>
	        </div>
	    </div>
	</div>
</form>

