.mb-campaign {
  position: relative;
  .mb-campaign-hero {
    display: block;
    width: 100%;
    height: auto;
  }
  .mb-campaign-text-block {
    bottom: 65px;
    left: 340px;
    position: absolute;
    z-index: 1;
    .mb-campaign-header {
      font: 46.05px / 48px "Corp A";
      margin: 0 0 24px 0;
      color: #fff;
    }
    .mb-campaign-text {
      font: 400 18.02px / 24.025px 'Corp S';
      color: #ffffff;
      margin-bottom: 24px;
    }
    .mb-campaign-text-important {
      font: 24.02px / 24px "Corp A";
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      margin: 0;
      padding: 5px 0 8px;
      display: inline-block;
      color: #fff;
    }
  }
  .mb-campaign-action-block {
    bottom: 62px;
    right: 340px;
    position: absolute;
    z-index: 2;
    .mb-campaign-action-button {
      display: block;
      width: 256px;
      height: 44px;
      border-radius: 1px;
      background-color: #00acf2;
      font: 400 18px / 44px 'Corp S';
      border: none;
      color: #ffffff;
      padding: 0;
    }
  }
  &.mb-campaign-hero-block {
    .mb-campaign-text-block {
      left: 102px;
      bottom: auto;
      top: 40px;
      .mb-campaign-header {
        font-size: 42px;
      }
    }
  }
}

@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
  .mb-campaign {
    &.mb-campaign-hero-block {
      .mb-campaign-text-block {
        left: 42px;
        bottom: auto;
        top: 20px;
        .mb-campaign-header {
          font-size: 22px;
        }
      }
    }
  }
}

@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
  .mb-campaign {
    &.mb-campaign-hero-block {
      .mb-campaign-text-block {
        left: 50px;
        bottom: auto;
        top: 15px;
        .mb-campaign-header {
          font-size: 32px;
        }
      }
    }
  }
}

@media (min-width: @screen-lg) {
  .mb-campaign {
    &.mb-campaign-hero-block {
      .mb-campaign-text-block {
        left: 102px;
        bottom: auto;
        top: 40px;
        .mb-campaign-header {
          font-size: 42px;
        }
      }
    }
  }
}