.mb-checkout-cancellation-block {
  margin: 0 auto;
  margin-bottom: 15px;
  .mb-checkout-cancellation-description {
    border: 1px solid #dddddd;
    padding: 0 32px;
    margin-bottom: 15px;
  }
  h2 {
    font: 27px / 23.998px "Corp A";
    color: #333333;
    text-align: center;
  }
  p {
    font: 400 18px / 23.998px "Corp S";
    color: #333333;
    margin-bottom: 1.2em;
    a {
      color: #333;
      text-decoration: underline;
    }
  }
}
.mb-checkout-buyer-summary {
  margin-bottom: 15px;
  h2 {
    font: 34px / 36px "Corp A";
    color: #333333;
    margin: 0 0 40px 0;
  }
  h3 {
    font: 34px / 36px "Corp A";
    color: #333333;
    margin: 0 0 40px 0;
  }
  .mb-checkout-buyer-summary-row {
    line-height: 38px;
    font: 400 18px / 38px "Corp S";
    color: #333333;
    margin: 0;
    &>div {
      padding: 0;
      border-top: 1px solid #ececec;
    }
    &+.mb-checkout-buyer-summary-row {
      &>div {
        border-top: none;
        border-bottom: 1px solid #ececec; 
      }
    }
  }
}
.mb-checkout-step {
  form {
    max-width: 9999px;
  }
  .mb-checkout-register-info {
    background: #ececec;
    padding: 20px 35px 10px;
    margin-bottom: 15px;
    h3 {
      font: 400 18px / 23.998px "Corp S";
      color: #333333;
      margin: 0 0 1.2em 0;
      background: transparent url(/images/icons/contact_info.png) left top no-repeat;
      font-weight: bold;
      padding-left: 25px;
      background-size: contain;
    }
    p {
      font: 400 18px / 23.998px "Corp S";
      color: #333333;
      margin-bottom: 1.2em;
    }
  }
  .mb-contacts-dark-block {
    background: #3c3c3c;
    padding: 20px;
    h3 {
      font: 34px / 36px "Corp A";
      color: #fff;
      margin: 0 0 25px 0;
    }
    .row {
      &>div {
        text-align: center;
        border-left: 1px solid #666666;
        &:first-child {
          border: none; 
        }
        a {
          display: block;
          min-height: 100px;
          padding-top: 55px;
          color: #999999;
          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            outline: none;
          }
          &.mb-contacts-dark-block-callback {
            background: transparent url(/images/icons/contact_phone.png) 50% 10px no-repeat;
          }
          &.mb-contacts-dark-block-chat {
            background: transparent url(/images/icons/contact_chat.png) 50% 10px no-repeat;
          }
          &.mb-contacts-dark-block-consult {
            background: transparent url(/images/icons/contact_users.png) 50% 10px no-repeat;
          }
          &.mb-contacts-dark-block-email {
            background: transparent url(/images/icons/contact_letter.png) 50% 10px no-repeat;
          }
        }
      }
    }
  }
  .mb-checkout-form-navigation-block {
    margin-bottom: 60px;
    .row {
      margin: 0;
      &>div {
        padding: 10px 0 0 0;        
        .btn {
          background: transparent;
          border: none;
          color: #fff;
          font: 400 18px / 44px "Corp S";
          padding: 0 20px;
          position: relative;
        }
        .btn-default {
          background: #666666;
        }
        .btn-primary {
          background: #00adef;
        }
        .js-next {
          padding-right: 35px; 
          &:after {
            content: "";
            display: inline-block;
            height: 20px;
            width: 11px;
            position: absolute;
            top: 12px;
            right: 15px;
            background-image: url(/images/carousel-arrow-right.png);
            background-position: right top;
            background-size: 100%;
          }
        }
        .js-prev {
          padding-left: 35px; 
          &:before {
            content: "";
            display: inline-block;
            height: 20px;
            width: 11px;
            position: absolute;
            left: 15px;
            top: 12px;
            background-image: url(/images/carousel-arrow-left.png);
            background-position: right top;
            background-size: 100%;
          }
        }
        &.mb-checkout-form-btn-left {
          border-top: 1px solid #dddddd;
        }
      }
    }
    .mb-form-sublabel {
      margin-top: 10px;
    }
  }
  .mb-sheckout-final-step {
    h2 {
      font: 42px / 42px "Corp A";
      color: #333333;
      margin: 63px 0 16px 0;
    }
    h3 {
      font: 34px / 34px "Corp A";
      margin: 48px 0 37px 0;
    }
    p {
      font: 400 18px / 24px "Corp S";
      margin-bottom: 1em;
    }
    ul {
      padding: 0 0 0 55px;
      li {
        padding: 0 0 0 17px;
        font: 400 18px / 24px "Corp S";
        margin-bottom: 1em;
      }
    }
    .mb-checkout-print-results {
      display: inline-block;
      color: #999;
      font: 400 18px / 24px "Corp S";
      padding-left: 35px;
      background: transparent url(/images/icons/icon-fax.png) left top no-repeat;
      margin-bottom: 35px;
      text-decoration: none;
      &:focus,
      &:active,
      &:hover {
        text-decoration: none;
      }
    }
  }
  .mb-checkout-header {
    h1 {
      font: 400 42px / 42px "Corp A";
    }
  }
  .mb-model-detail-tech-specs {
    background: transparent;
    border: none;
    .row {
      background: transparent;
      &>div {
        border: none;
      }
    }
    .mb-model-detail-tech-specs-column {
      margin-right: 0;
      border: none;
      &.width-66 {
        //width: 66%;
      }
      &.width-33 {
        //width: 33%;
      }
      .mb-model-detail-edition-highlights-equipment-link {
        display: inline-block;
        margin: 0 0 40px 0;
        background: #666 url(/images/icons/document_icon.png) 10px 9px no-repeat;
        color: #fff;
        font-size: 18px;
        line-height: 44px;
        padding: 0 20px 0 40px;
        .border-radius(1px);
        text-decoration: none;
        background-size: 8%;
        &:focus,
        &:active,
        &:hover {
          text-decoration: none;
        }
        &~p {
          border: none;
        }
      }
      .mb-model-detail-tech-specs-options {
        margin: 0 0 20px 0;
        padding: 0;
        li {
          list-style: none;
          display: inline-block;
          font: 400 18px / 22px "Corp S";
          background: transparent url(/images/icons/accept-black-check.png) left top no-repeat;
          padding-left: 30px;
          margin-right: 20px;
        }
      }
      .mb-model-detail-tech-specs-eco-list {
        &~p {
          border: none;
        }
      }
      .mb-model-detail-tech-specs-eco-class {
        font-size: 0;
        span {
          background: #000000;
          height: 24px;
          line-height: 24px;
          display: inline-block;
          padding-right: 9px;
          width: 57px;
          text-align: right;
          font-size: 14px;
          vertical-align: top;
          color: #fff;
          text-transform: uppercase;
        }
        margin: 0;
        position: absolute;
        right: 2px;
        top: 0;
        &:before {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 17px 12px 0;
          border-color: transparent #000000 transparent transparent;
          content: "";
          display: inline-block;
          vertical-align: top;
        }
        &.class-AP {
          top: 2px;
        }
        &.class-A {
          top: 26px;
        }
        &.class-B {
          top: 51px;
        }
        &.class-C {
          top: 72px;
        }
        &.class-D {
          top: 98px;
        }
        &.class-E {
          top: 122px;
        }
        &.class-F {
          top: 146px;
        }
        &.class-G {
        
        }
      }
    }
  }
  .mb-offer-detail-list {
    .row {
      padding: 10px 0;
      span {
        padding: 0;
        padding-right: 30px;
      }
      p {
        padding: 0;
      }
      .mb-icon-i {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .mb-checkout-form-wrapper {
    form {
      .row {
        margin-bottom: 0;
        .form-group {
          margin-bottom: 15px;

          input.form-control {
            &:focus,
            &:active {
              background-color: #fff;
            }
          }
          .bootstrap-datetimepicker-widget,
          input.form-control,
          .input-group .input-group-addon,
          select.form-control {
            border-color: #d9d9d9;
            background: #f8f8f8;
          }
        }
      }
    }
  }
  .mb-checkout-buyer-summary {
    .mb-checkout-buyer-summary-row {
      border-bottom: 1px solid #ececec;
      &>div {
        border-bottom: none !important;
      }
      .mb-checkout-buyer-summary-key {
        font-size: 13px;
        line-height: 28px;
      }
      .mb-checkout-buyer-summary-value {
        line-height: 18px;
        min-height: 36px;
      }
    }
  }
  .mb-form-list-switches {
    li {
      label {
        position: relative;
        min-height: 40px;
        padding-left: 50px;

        .mb-catalogue-filter-checkbox-wrapper {
          position: absolute;
          left: 0;
          top: 0;
        }
        .mb-catalogue-filter-title {
          height: auto;
          padding-top: 5px;
        }
      }
    }
  }
}
.mb-checkout-data-reasons {
  border-top: 1px solid #cccccc;
  margin-top: 72px;
  padding: 20px 0;
  .mb-checkout-data-reasons-title {
    padding-left: 0;
    h3 {
      font: 400 27px / 27px "Corp A";
      margin: 10px 0 10px 0;
      color: #999999;
    }
  }
  .mb-checkout-data-reason {
    h3 {
      font: 400 27px / 27px "Corp A";
      margin: 10px 0 10px 0;
      color: #333;
    }
    p {
      font: 400 18px / 20px "Corp S";
      color: #333;
      margin-bottom: 1em;
    }
  }
}
.mb-checkout-order-summary {
  h2 {
    font: 400 34px / 34px "Corp A";
    margin: 25px 0 30px 0;
    color: #333;
  }
  p {
    font: 400 18px / 21px "Corp S";
    color: #333;
    margin-bottom: 1em;
  }
}


@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) { 
  .mb-checkout-cancellation-block {
    margin: 0 auto;
    margin-bottom: 15px;
    .mb-checkout-cancellation-description {
      border: 1px solid #dddddd;
      padding: 0 32px;
      margin-bottom: 15px;
    }
    h2 {
      font: 27px / 23.998px "Corp A";
      color: #333333;
      text-align: center;
    }
    p {
      font: 400 18px / 23.998px "Corp S";
      color: #333333;
      margin-bottom: 1.2em;
      a {
        color: #333;
        text-decoration: underline;
      }
    }
  }
  .mb-checkout-buyer-summary {
    margin-bottom: 15px;
    h2 {
      font: 34px / 36px "Corp A";
      color: #333333;
      margin: 0 0 40px 0;
    }
    .mb-checkout-buyer-summary-row {
      line-height: 38px;
      font: 400 18px / 38px "Corp S";
      color: #333333;
      margin: 0;
      &>div {
        padding: 0;
        border-top: 1px solid #ececec;
      }
      &+.mb-checkout-buyer-summary-row {
        &>div {
          border-top: none;
          border-bottom: 1px solid #ececec; 
        }
      }
    }
  }
  .mb-checkout-step {
    form {
      max-width: 9999px;
    }
    .mb-checkout-register-info {
      background: #ececec;
      padding: 20px 35px 10px;
      margin-bottom: 15px;
      h3 {
        font: 400 18px / 23.998px "Corp S";
        color: #333333;
        margin: 0 0 1.2em 0;
        background: transparent url(/images/icons/contact_info.png) left top no-repeat;
        font-weight: bold;
        padding-left: 25px;
        background-size: contain;
      }
      p {
        font: 400 18px / 23.998px "Corp S";
        color: #333333;
        margin-bottom: 1.2em;
      }
    }
    .mb-contacts-dark-block {
      background: #3c3c3c;
      padding: 20px;
      h3 {
        font: 34px / 36px "Corp A";
        color: #fff;
        margin: 0 0 25px 0;
      }
      .row {
        &>div {
          text-align: center;
          border-left: 1px solid #666666;
          &:first-child {
            border: none; 
          }
          a {
            display: block;
            min-height: 100px;
            padding-top: 55px;
            color: #999999;
            &:hover,
            &:focus,
            &:active {
              text-decoration: none;
              outline: none;
            }
            &.mb-contacts-dark-block-callback {
              background: transparent url(/images/icons/contact_phone.png) 50% 10px no-repeat;
            }
            &.mb-contacts-dark-block-chat {
              background: transparent url(/images/icons/contact_chat.png) 50% 10px no-repeat;
            }
            &.mb-contacts-dark-block-consult {
              background: transparent url(/images/icons/contact_users.png) 50% 10px no-repeat;
            }
            &.mb-contacts-dark-block-email {
              background: transparent url(/images/icons/contact_letter.png) 50% 10px no-repeat;
            }
          }
        }
      }
    }
    .mb-checkout-form-navigation-block {
      margin-bottom: 60px;
      .row {
        margin: 0;
        &>div {
          padding: 30px 0 0 0;
          border-top: 1px solid #dddddd;
          .btn {
            background: transparent;
            border: none;
            color: #fff;
            font: 400 18px / 44px "Corp S";
            padding: 0 20px;
            position: relative;
          }
          .btn-default {
            background: #666666;
          }
          .btn-primary {
            background: #00adef;
          }
          .js-next {
            padding-right: 35px; 
            &:after {
              content: "";
              display: inline-block;
              height: 20px;
              width: 11px;
              position: absolute;
              top: 12px;
              right: 15px;
              background-image: url(/images/carousel-arrow-right.png);
              background-position: right top;
              background-size: 100%;
            }
          }
          .js-prev {
            padding-left: 35px; 
            &:before {
              content: "";
              display: inline-block;
              height: 20px;
              width: 11px;
              position: absolute;
              left: 15px;
              top: 12px;
              background-image: url(/images/carousel-arrow-left.png);
              background-position: right top;
              background-size: 100%;
            }
          }
          &.mb-checkout-form-btn-right {
            text-align: right;
          }
        }
      }
    }
    .mb-sheckout-final-step {
      h2 {
        font: 42px / 42px "Corp A";
        color: #333333;
        margin: 63px 0 16px 0;
      }
      h3 {
        font: 34px / 34px "Corp A";
        margin: 48px 0 37px 0;
      }
      p {
        font: 400 18px / 24px "Corp S";
        margin-bottom: 1em;
      }
      ul {
        padding: 0 0 0 55px;
        li {
          padding: 0 0 0 17px;
          font: 400 18px / 24px "Corp S";
          margin-bottom: 1em;
        }
      }
      .mb-checkout-print-results {
        display: inline-block;
        color: #999;
        font: 400 18px / 24px "Corp S";
        padding-left: 35px;
        background: transparent url(/images/icons/icon-fax.png) left top no-repeat;
        margin-bottom: 35px;
        text-decoration: none;
        &:focus,
        &:active,
        &:hover {
          text-decoration: none;
        }
      }
    }
    .mb-checkout-header {
      h1 {
        font: 400 42px / 42px "Corp A";
      }
    }
    .mb-model-detail-tech-specs {
      background: transparent;
      border: none;
      .row {
        background: transparent;
        &>div {
          border: none;
        }
      }
      .mb-model-detail-tech-specs-column {
        margin-right: 0;
        border: none;
        &.width-66 {
          width: 66%;
        }
        &.width-33 {
          width: 33%;
        }
        .mb-model-detail-edition-highlights-equipment-link {
          display: inline-block;
          margin: 0 0 40px 0;
          background: #666 url(/images/icons/document_icon.png) 10px 9px no-repeat;
          color: #fff;
          font-size: 18px;
          line-height: 44px;
          padding: 0 20px 0 40px;
          .border-radius(1px);
          text-decoration: none;
          background-size: 8%;
          &:focus,
          &:active,
          &:hover {
            text-decoration: none;
          }
          &~p {
            border: none;
          }
        }
        .mb-model-detail-tech-specs-additional {
          padding-left: 2px;
          margin-bottom: 25px;
          li {
            list-style-position: inside;
            font: 400 18px / 30px "Corp S";
            margin-right: 20px;
            color: #333;
            .mb-icon-i {
              background: url(/images/icons/i.png);
              width: 28px;
              height: 28px;
              display: inline-block;
              margin-left: 10px;
              vertical-align: top;
            }
          }
        }
        .mb-model-detail-tech-specs-options {
          margin: 0 0 20px 0;
          padding: 0;
          li {
            list-style: none;
            display: inline-block;
            font: 400 18px / 22px "Corp S";
            background: transparent url(/images/icons/accept-black-check.png) left top no-repeat;
            padding-left: 30px;
            margin-right: 20px;
            margin-bottom: 8px;
          }
        }
        .mb-model-detail-tech-specs-eco-list {
          &~p {
            border: none;
          }
        }
        .mb-model-detail-tech-specs-eco-class {
          font-size: 0;
          span {
            background: #000000;
            height: 24px;
            line-height: 24px;
            display: inline-block;
            padding-right: 9px;
            width: 57px;
            text-align: right;
            font-size: 14px;
            vertical-align: top;
            color: #fff;
            text-transform: uppercase;
          }
          margin: 0;
          position: absolute;
          right: 2px;
          top: 0;
          &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 17px 12px 0;
            border-color: transparent #000000 transparent transparent;
            content: "";
            display: inline-block;
            vertical-align: top;
          }
          &.class-AP {
            top: 2px;
          }
          &.class-A {
            top: 26px;
          }
          &.class-B {
            top: 51px;
          }
          &.class-C {
            top: 72px;
          }
          &.class-D {
            top: 98px;
          }
          &.class-E {
            top: 122px;
          }
          &.class-F {
            top: 146px;
          }
          &.class-G {
          
          }
        }
      }
    }
    .mb-offer-detail-list {
      .row {
        padding-right: 0;
        span {
          padding: 0;
          padding-right: 1.21951208%;
          padding-left: 1.21951208%;
        }
        p {
          padding: 0;
          padding-right: 1.21951208%;
          padding-left: 1.21951208%;
          text-align: right;
        }
        .mb-icon-i {
          right: -30px;
        }
      }
    }
    .mb-checkout-buyer-summary {
      .mb-checkout-buyer-summary-row {
        border-bottom: 1px solid #ececec;
        &>div {
          border-bottom: none !important;
        }
        .mb-checkout-buyer-summary-key {
          font: 400 18px / 38px "Corp S";
        }
        .mb-checkout-buyer-summary-value {
          font: 400 18px / 38px "Corp S";
          min-height: 36px;
        }
      }
    }
  }
  .mb-checkout-data-reasons {
    border-top: 1px solid #cccccc;
    padding: 20px 0;
    margin: 0 -4.6875%;
    margin-top: 72px;
    .mb-checkout-data-reasons-title {
      padding-left: 4.6875%;
      h3 {
        font: 400 27px / 27px "Corp A";
        margin: 10px 0 30px 0;
        color: #999999;
      }
    }
    .mb-checkout-data-reason {
      padding-left: 4.6875%;
      h3 {
        font: 400 27px / 27px "Corp A";
        margin: 10px 0 10px 0;
        color: #333;
      }
      p {
        font: 400 18px / 20px "Corp S";
        color: #333;
        margin-bottom: 1em;
      }
    }
  }
  .mb-checkout-order-summary {
    h2 {
      font: 400 34px / 34px "Corp A";
      margin: 25px 0 30px 0;
      color: #333;
    }
    p {
      font: 400 18px / 21px "Corp S";
      color: #333;
      margin-bottom: 1em;
    }
  }
}


@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
  .mb-checkout-step {
    .mb-checkout-form-navigation-block {
      margin-bottom: 60px;
      .row {
        margin: 0;
        &>div {
          padding: 30px 0 0 0;
          border-top: 1px solid #dddddd;
          .btn {
            background: transparent;
            border: none;
            color: #fff;
            font: 400 18px / 44px "Corp S";
            padding: 0 20px;
            position: relative;
          }
          .btn-default {
            background: #666666;
          }
          .btn-primary {
            background: #00adef;
          }
          .js-next {
            padding-right: 35px; 
            &:after {
              content: "";
              display: inline-block;
              height: 20px;
              width: 11px;
              position: absolute;
              top: 12px;
              right: 15px;
              background-image: url(/images/carousel-arrow-right.png);
              background-position: right top;
              background-size: 100%;
            }
          }
          .js-prev {
            padding-left: 35px; 
            &:before {
              content: "";
              display: inline-block;
              height: 20px;
              width: 11px;
              position: absolute;
              left: 15px;
              top: 12px;
              background-image: url(/images/carousel-arrow-left.png);
              background-position: right top;
              background-size: 100%;
            }
          }
          &.mb-checkout-form-btn-right {
            text-align: right;
          }
        }
      }
    }

    .mb-offer-detail-list {
      .row {
        padding-right: 0;
        span {
          padding: 0;
          padding-right: 1.21951208%;
          padding-left: 1.21951208%;
        }
        p {
          padding: 0;
          padding-right: 1.21951208%;
          padding-left: 1.21951208%;
          text-align: right;
        }
        .mb-icon-i {
          right: -30px;
        }
      }
    }
    .mb-checkout-buyer-summary {
      .mb-checkout-buyer-summary-row {
        border-bottom: 1px solid #ececec;
        &>div {
          border-bottom: none !important;
        }
        .mb-checkout-buyer-summary-key {
          font: 400 18px / 38px "Corp S";
        }
        .mb-checkout-buyer-summary-value {
          font: 400 18px / 38px "Corp S";
          min-height: 36px;
        }
      }
    }
  }
}

@media (min-width: @screen-lg) {
  .mb-checkout-step {
    .mb-checkout-form-navigation-block {
      margin-bottom: 60px;
      .row {
        margin: 0;
        &>div {
          padding: 30px 0 0 0;
          border-top: 1px solid #dddddd;
          .btn {
            background: transparent;
            border: none;
            color: #fff;
            font: 400 18px / 44px "Corp S";
            padding: 0 20px;
            position: relative;
          }
          .btn-default {
            background: #666666;
          }
          .btn-primary {
            background: #00adef;
          }
          .js-next {
            padding-right: 35px; 
            &:after {
              content: "";
              display: inline-block;
              height: 20px;
              width: 11px;
              position: absolute;
              top: 12px;
              right: 15px;
              background-image: url(/images/carousel-arrow-right.png);
              background-position: right top;
              background-size: 100%;
            }
          }
          .js-prev {
            padding-left: 35px; 
            &:before {
              content: "";
              display: inline-block;
              height: 20px;
              width: 11px;
              position: absolute;
              left: 15px;
              top: 12px;
              background-image: url(/images/carousel-arrow-left.png);
              background-position: right top;
              background-size: 100%;
            }
          }
          &.mb-checkout-form-btn-right {
            text-align: right;
          }
        }
      }
    }

    .mb-offer-detail-list {
      .row {
        padding-right: 0;
        span {
          line-height: 38px;
          padding: 0;
          padding-right: 1.21951208%;
          padding-left: 1.21951208%;
        }
        p {
          line-height: 38px;
          padding: 0;
          padding-right: 1.21951208%;
          padding-left: 1.21951208%;
          text-align: right;
        }
        .mb-icon-i {
          right: -20px;
        }
      }
    }
    .mb-checkout-buyer-summary {
      .mb-checkout-buyer-summary-row {
        border-bottom: 1px solid #ececec;
        &>div {
          border-bottom: none !important;
        }
        .mb-checkout-buyer-summary-key {
          font: 400 18px / 38px "Corp S";
        }
        .mb-checkout-buyer-summary-value {
          font: 400 18px / 38px "Corp S";
          min-height: 36px;
        }
      }
    }
  }
}