.mb-contact-banner {
  position: relative;
  margin-bottom: 72px;
  padding-top: 0;
  .mb-banner-text-block {
    position: relative;
    z-index: 5;
    padding: 0 15px;
    .mb-banner-text-wrap {
      .mb-banner-text-title {
        color: #333;
        font: 300 32px/32px 'Corp A';
        margin-bottom: 35px; 
        margin-top: 15px;       
      }
      .mb-banner-text {
        color: #333;
        font: 400 17px / 23px "Corp S";
        margin-bottom: 25px;
      }
    }
  }
  img {
    max-width: 100%;
    //position: absolute;
    //z-index: 3;
    //top: 0;
  }
}
.contact-wrapper {
  .mb-contact-text {
    color: #333;
    font: 400 18px/24px 'Corp S';
    padding: 71px 0 89px;
    .mb-contact-text-title {
      color: #333;
      font: 42px/42px 'Corp A';
      padding-bottom: 26px;
    }
  }
  .md-contact-card {
    width: 100%;
    .md-contact-card-title {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      height: 70px;
      color: #333;
      font: 27px/70px 'Corp A';
    }
    .md-contact-card-content {
      padding-bottom: 82px;
      p {
        padding: 0;
        margin: 28px 0;
        color: #333;
        font: 400 18px/24px 'Corp S';
      }
    }
  }
}

.mb-icon-wrap {
  position: relative;
  float: left;
  width: 34px;
  height: 19px;
  margin-top: 11px;
}

.mb-icon-calendar {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 25px;
  height: 19px;
  background: url(/images/icons/calendar.png);
}

.mb-icon-contact {
  position: absolute;
}

.mb-icon-contact-phone-wh {
  float: left;
  height: 36px;
  width: 56px;
  .mb-icon-contact {
    height: 40px;
    width: 29px;
    margin-top: 10px;
    background: url(/images/icons/contact_phone-wh.png);
  }
}

.mb-icon-contact-phone {
  float: left;
  height: 36px;
  width: 56px;
  .mb-icon-contact {
    height: 36px;
    width: 26px;
    margin-top: 20px;
    background: url(/images/icons/contact_phone.png);

    &.mb-icon-contact-wh {
      background: url(/images/icons/contact_phone-wh.png);
    }
  }
}

.mb-icon-contact-chat {
  float: left;
  height: 31px;
  width: 62px;
  .mb-icon-contact {
    height: 31px;
    width: 42px;
    margin-top: 20px;
    background: url(/images/icons/contact_chat.png);
  }
}

.mb-icon-contact-users {
  float: left;
  height: 36px;
  width: 51px;
  .mb-icon-contact {
    height: 36px;
    width: 31px;
    margin-top: 20px;
    background: url(/images/icons/contact_users.png);
  }
}


.mb-icon-contact-letter {
  float: left;
  height: 33px;
  width: 56px;
  .mb-icon-contact {
    height: 33px;
    width: 36px;
    margin-top: 20px;
    background: url(/images/icons/contact_letter.png);
  }
}

.mb-icon-contact-car {
  float: left;
  height: 30px;
  width: 61px;
  .mb-icon-contact {
    height: 30px;
    width: 41px;
    margin-top: 20px;
    background: url(/images/icons/contact_car.png);
  }
}

.mb-icon-contact-info {
  float: left;
  height: 31px;
  width: 55px;
  .mb-icon-contact {
    height: 31px;
    width: 13px;
    margin-top: 20px;
    margin-left: 15px;
    background: url(/images/icons/contact_info.png);
  }
}
.mb-contacts-dark-block {
  background: #3c3c3c;
  padding: 20px;
  h3 {
    font: 34px / 36px "Corp A";
    color: #fff;
    margin: 0 0 25px 0;
  }
  .row {
    &>div {
      text-align: center;
      border-left: 1px solid #666666;
      &:first-child {
        border: none; 
      }
      a {
        display: block;
        min-height: 100px;
        padding-top: 55px;
        color: #999999;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          outline: none;
        }
        &.mb-contacts-dark-block-callback {
          background: transparent url(/images/icons/contact_phone.png) 50% 10px no-repeat;
        }
        &.mb-contacts-dark-block-chat {
          background: transparent url(/images/icons/contact_chat.png) 50% 10px no-repeat;
        }
        &.mb-contacts-dark-block-consult {
          background: transparent url(/images/icons/contact_users.png) 50% 10px no-repeat;
        }
        &.mb-contacts-dark-block-email {
          background: transparent url(/images/icons/contact_letter.png) 50% 10px no-repeat;
        }
      }
    }
  }
}
@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
  .mb-contact-banner {
    position: relative;
    margin-bottom: 72px;
    .mb-banner-text-block {
      position: absolute;
      right: 0;
      top: 0;
      width: 58%;
      height: 100%;
      background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      .mb-banner-text-wrap {
        position: absolute;
        height: 190px;
        top: 50%;
        right: 10%;
        margin-left: 33%;
        margin-top: -95px;
        width: 346px;
        .mb-banner-text-title {
          color: #fff;
          font: 300 32px/32px 'Corp A';
          margin-top: 0;
        }
        .mb-banner-text {
          color: #fff;
          font: 400 18/24px 'Corp S';
        }
      }
      &.mb-banner-text-left {
        left: 0;
        background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
    img {
      width: 100%;
    }
  }
}
@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
  .mb-contact-banner {
    position: relative;
    margin-bottom: 72px;
    .mb-banner-text-block {
      position: absolute;
      right: 0;
      top: 0;
      width: 58%;
      height: 100%;
      background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      .mb-banner-text-wrap {
        position: absolute;
        height: 190px;
        top: 40%;
        margin-left: 33%;
        margin-top: -95px;
        width: 346px;
        .mb-banner-text-title {
          color: #fff;
          font: 300 32px/32px 'Corp A';
          padding-bottom: 26px;
        }
        .mb-banner-text {
          color: #fff;
          font: 400 18/24px 'Corp S';
          padding-bottom: 26px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}
@media (min-width: @screen-lg) {
  .mb-contact-banner {
    position: relative;
    margin-bottom: 72px;
    .mb-banner-text-block {
      position: absolute;
      right: 0;
      top: 0;
      width: 58%;
      height: 100%;
      background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      .mb-banner-text-wrap {
        position: absolute;
        height: 190px;
        top: 40%;
        margin-left: 33%;
        margin-top: -95px;
        width: 346px;
        .mb-banner-text-title {
          color: #fff;
          font: 300 32px/32px 'Corp A';
          padding-bottom: 26px;
        }
        .mb-banner-text {
          color: #fff;
          font: 400 18/24px 'Corp S';
          padding-bottom: 26px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}