.mb-how-does-it-work-wrapper {
  background: #ececec;
  .mb-how-does-it-work-list {
    padding: 43px 95px;
    margin: 0;
    .mb-how-does-it-work-item {
      padding: 0 30px;
      list-style: none;
      font: 27px / 27px "Corp A";
      position: relative;
      &:before {
        position: absolute;
        width: 10px;
        height: 18px;
        display: block;
        content: "";
        top: 4px;
        left: 12px;
        background: transparent url(/images/how-it-work-arrow.png) left top no-repeat;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .mb-how-does-it-work-wrapper{
    .mb-how-does-it-work-list {
      padding: 0;
      .mb-how-does-it-work-item{
        width: 100%;
        font-size: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #cccccc;
      }
      .mb-how-does-it-work-item:before{
        top: 28px;
      }
    }
  }
}