.application__overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: -99999px;
	bottom: 0;
	z-index: 10;
	&.active {
		left: 0;
		right: 0;
	}
	.mb-spinner {
	  display: none;
	  .mb-spinner-loader {
		  margin: 60px auto;
		  font-size: 10px;
		  position: relative;
		  text-indent: -9999em;
		  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
		  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
		  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
		  border-left: 1.1em solid #ffffff;
		  -webkit-transform: translateZ(0);
		  -ms-transform: translateZ(0);
		  transform: translateZ(0);
		  -webkit-animation: mbloader 1.1s infinite linear;
		  animation: mbloader 1.1s infinite linear;
		}
		.mb-spinner-loader,
		.mb-spinner-loader :after {
		  border-radius: 50%;
		  width: 10em;
		  height: 10em;
		}
		@-webkit-keyframes mbloader {
		  0% {
		    -webkit-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -webkit-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@keyframes mbloader {
		  0% {
		    -webkit-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -webkit-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}

	}
}