<button type="button" class="close" aria-hidden="true">&times;</button>
<div class="modal-content">

  <div class="modal-header">
    <h4 class="modal-title">Nachricht senden.</h4>
  </div>
  <form>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">Betreff Ihrer Frage <sup>*</sup></label>
                <select class="form-control" id="field-1" name="customer[subject]">
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-2">Ihre Nachricht <sup>*</sup></label>
                <textarea name="customer[message]" id="field-2" class="form-control"></textarea>
                <label for="field-2" class="mb-form-sublabel">(Noch 500 Zeichen)</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group">
                <label for="field-3">Anrede <sup>*</sup></label>
                <select class="form-control" id="field-3" name="customer[salutation]">
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                </select>
                <label for="field-3" class="mb-select-arrow"></label>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="form-group">
                <label for="field-4">Titel</label>
                <select class="form-control" id="field-4" name="customer[title]">
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                </select>
                <label for="field-4" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-9">Vorname <sup>*</sup></label>
                <input type="text" class="form-control" id="field-9" name="customer[firstName]">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-5">Nachname <sup>*</sup></label>
                <input type="text" class="form-control" id="field-5" name="customer[lastName]">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-6">E-Mail <sup>*</sup></label>
                <input type="text" class="form-control" id="field-6" name="customer[consentContactByEmail]">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-7">PLZ <sup>*</sup></label>
                <input type="text" class="form-control" id="field-7" name="customer[postalCode]">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-8">Ort <sup>*</sup></label>
                <input type="text" class="form-control" id="field-8" name="customer[city]">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-9">Telefon</label>
                <input type="text" class="form-control" id="field-9">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Nachricht senden</button>
    </div>
  </form>
</div>
