<div class="car-day" style="background-image: url({{day}})"/>
<div class="row mb-fullscreen-photo-description">
	<div class="col-xs-8 col-xs-offset-2">
		<h2 class="mb-fullscreen-photo-title">Lorem</h2>
		<h3 class="mb-fullscreen-photo-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam provident nihil porro minus unde. Impedit, consectetur. Alias minus corporis voluptatem dolor id, porro quisquam sed veritatis, quod facilis, iusto suscipit.</h3>
	</div>
</div>
