<button type="button" class="close" aria-hidden="true">&times;</button>
<div class="modal-content">
  
  <div class="mb-teaser-block">
    <h4 class="modal-title">Persönliche Beratung vor Ort.</h4>
    <h5>Lassen Sie sich ganz nach Ihren individuellen Wünschen beraten.</h5>
    <ul class="mb-teaser-list row">
      <li class="mb-teaser-item col-xs-4">
        <img src="/images/photos/teaser-1.jpg" alt="teaser-1.jpg" class="mb-teaser-picture">
        <h4 class="mb-teaser-title">
          Zuhause Starkstrom tanken - Mit dem Wallbox-Service von Mercedes-Benz.
        </h4>
        <p class="mb-teaser-descr">
          Bei Kauf, Finanzierung oder Leasing eines Elektrofahrzeugs erhalten Sie einen Gutschein für die Mercedes-Benz Wallbox.
        </p>
      </li>
      <li class="mb-teaser-item col-xs-4">
        <img src="/images/photos/teaser-2.jpg" alt="teaser-2.jpeg" class="mb-teaser-picture">
        <h4 class="mb-teaser-title">
          Das Beste bekommt immer eine Zugabe.
        </h4>
        <p class="mb-teaser-descr">
          Das B flexible Package - exklusiv für private Leasing- und Finanzierungskunden - erhalten Sie als kostenlose Zugabe zu allen „B-Klasse Electric Drive“-Angeboten.
        </p>
      </li>
      <li class="mb-teaser-item col-xs-4">
        <img src="/images/photos/teaser-3.jpg" alt="teaser-3.jpg" class="mb-teaser-picture">
        <h4 class="mb-teaser-title">
          Das Komplett-Service Paket für Ihre neue A-Klasse bereits ab 19€/Monat.
        </h4>
        <p class="mb-teaser-descr">
          Rund-um-sorglos mit unserem Komplett-Service-Paket für die A-Klasse.
        </p>
      </li>
    </ul>
  </div>
  <form>
    <div class="modal-body">
      <h2>Wo möchten Sie beraten werden?</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-lg" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option-1" autocomplete="off" checked> Wunschadresse
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option-2" autocomplete="off"> Mercedes-Benz Partner
            </label>
          </div>
        </div>
      </div>
      <h3>Bitte geben Sie Ihre Wunschadresse im Hamburger Stadtgebiet an. Wir kommen zu Ihnen.</h3>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-1">Straße <sup>*</sup></label>
                <input type="text" class="form-control" id="field-1">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-2">Nummer <sup>*</sup></label>
                <input type="text" class="form-control" id="field-2">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-3">Adresszusatz</label>
                <input type="text" class="form-control" id="field-3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-4">PLZ <sup>*</sup></label>
                <input type="text" class="form-control" id="field-4">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-5">Ort <sup>*</sup></label>
                <input type="text" class="form-control" id="field-5">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
      </div>
      <hr>
      <h2>Wann möchten Sie beraten werden?</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <div class='input-group mb-date-wrapper' id='field-date-wrapper'>
                  <label for="field-1">Datum</label>
                  <div id="field-date"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-5">Startzeit</label>
                <select class="form-control" id="field-1">
                  <option value="">9 : 00 Uhr</option>
                  <option value="">10 : 00 Uhr</option>
                  <option value="">11 : 00 Uhr</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h2>Haben Sie besondere Wünsche oder Fragen?</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-2">Nennen Sie uns Ihr Anliegen oder das Fahrzeug zu dem wir Sie beraten dürfen.</label>
                <textarea name="" id="field-2" class="form-control"></textarea>
                <label for="field-2" class="mb-form-sublabel">(Noch 500 Zeichen)</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h2>Möchten Sie Ihr aktuelles Fahrzeug in Zahlung geben?</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <span>
                Nutzen Sie Ihr aktuelles Fahrzeug als Startkapital. Unsere Experten bewerten gerne Ihr Fahrzeug und bieten
        I       hnen einen fairen Inzahlungnahmepreis an.
              </span>
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option-1" autocomplete="off" checked> Ja
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option-2" autocomplete="off"> Nein
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-9">Hersteller/Typ <sup>*</sup></label>
                <input type="text" class="form-control" id="field-9">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-5">Erstzulassung <sup>*</sup></label>
                <input type="text" class="form-control" id="field-5" placeholder="TT.MM.JJJJ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-9">Kilometerstand <sup>*</sup></label>
                <div class="input-group">
                  <input type="text" class="form-control" id="field-9">
                  <span class="input-group-addon" id="basic-addon2">km</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
      </div>
      <hr>
      <h2>Wie können wir Sie erreichen?</h2>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group">
                <label for="field-4">Anrede <sup>*</sup></label>
                <select class="form-control" id="field-1">
                  <option value="">-</option>
                  <option value="">-</option>
                  <option value="">-</option>
                  <option value="">-</option>
                  <option value="">-</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="form-group">
                <label for="field-5">Titel</label>
                <select class="form-control" id="field-1">
                  <option value="">-</option>
                  <option value="">-</option>
                  <option value="">-</option>
                  <option value="">-</option>
                  <option value="">-</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-9">Vorname <sup>*</sup></label>
                <input type="text" class="form-control" id="field-9">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-5">Nachname <sup>*</sup></label>
                <input type="text" class="form-control" id="field-5">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-9">E-Mail <sup>*</sup></label>
                <input type="text" class="form-control" id="field-9">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-5">Telefon</label>
                <input type="text" class="form-control" id="field-5">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">
        Anfrage senden
        <span class="mb-button-arrow-icon"></span>
      </button>
    </div>
  </form>
</div>
