<h2 class="mb-exterior-block-title">
	{{locale "detail.exteriror.subtitle"}}
</h2>	
<h3 class="mb-exterior-block-subtitle hidden-xs">
	{{locale "detail.exteriror.text"}}
</h3>
<button class="mb-exterior-block-show-modal js-exterior-modal">{{locale "detail.exteriror.button"}}</button>
<div id="mb-exterior-carousel" class="mb-carousel carousel">
  <div class="carousel-inner" role="listbox"></div>
  <div class="mb-carousel-progress progress hidden-sm hidden-md hidden-lg">
	  <div class="progress-bar" role="progressbar">
	  </div>
	</div>
</div>
