<h2 class="mb-exterior-block-title">
	Exterieur - 
	<br class="hidden-xs">
	Das Design einer neuen Generation.
</h2>	
<h3 class="mb-exterior-block-subtitle hidden-xs">
	Eine markante Linienführung, dynamisch geschwungene Flächen und 
	<br>
	eine coupéhafte Fensterlinie bestimmen das sportlich-emotionale 
	<br>
	Exterieur der A-Klasse.
</h3>
<button class="mb-exterior-block-show-modal js-exterior-modal">360&deg; rotate</button>
<div id="mb-exterior-carousel" class="mb-carousel carousel">
  <div class="carousel-inner" role="listbox"></div>
</div>
