<img class="car-day" src="{{car}}"/>
{{#if col.useAsHotspot}}
    <span class="mb-interior-hightlight-point" style="top: {{col.percentageImageHeight}}%;left: {{col.percentageImageWidth}};"></span>
{{/if}}
