<div class="mb-interior-header col-xs-6">
	<h2 class="mb-interior-block-title">
		Interieur -
		<br>
		Erfrischend sportlich.
	</h2>	
	<h3 class="mb-interior-block-subtitle">
		Das hochwertige Interieur mit sporttlichem Ambiente wurde mit viel Liebe
		<br>
		zum Detail gestaltet. Formen, Oberflächen und Materialien bilden ein
		<br>
		harmonisches, hochwertiges Ganzes und entsprechen optisch und haptisch
		<br> 
		hohen Ansprüchen.
	</h3>
	<button class="mb-interior-block-show-modal js-interior-modal">Galerieansicht</button>
</div>
<div class="mb-interior-large-photo-block">
</div>
