<div class="mb-interior-header col-xs-12 col-sm-6">
	<h2 class="mb-interior-block-title">
		{{locale "detail.interiror.subtitle"}}
	</h2>	
	<h3 class="mb-interior-block-subtitle hidden-xs">
		{{locale "detail.interiror.text"}}
	</h3>
	<button class="mb-interior-block-show-modal js-interior-modal hidden-xs">{{locale "detail.interiror.button"}}</button>
</div>
<div class="mb-interior-large-photo-block hidden-xs">
</div>
<div id="mb-interior-mobile-carousel" class="mb-carousel carousel slide">
  <div class="carousel-inner" role="listbox"></div>
  <div class="mb-carousel-progress progress hidden-sm hidden-md hidden-lg">
	  <div class="progress-bar" role="progressbar">
	  </div>
	</div>
</div>
