<h2 class="mb-interior-block-title">
	Exterieur - 
	<br>
	Das Design einer neuen Generation.
</h2>	
<h3 class="mb-interior-block-subtitle">
	Eine markante Linienführung, dynamisch geschwungene Flächen und 
	<br>
	eine coupéhafte Fensterlinie bestimmen das sportlich-emotionale 
	<br>
	Exterieur der A-Klasse.
</h3>
<button class="mb-interior-block-show-modal js-interior-modal">Gallery</button>
<div id="mb-interior-carousel" class="mb-carousel carousel">
  <div class="carousel-inner" role="listbox"></div>
</div>
