.header-app{
  overflow: hidden;
  background-color: $color-black;
  @include mainNavigationText();

  .logo{
    float: left;
    padding: $spacing 0;
  }
  .navigation{
    float: right;
  }

  ul{
    @extend .nav;
    @extend .inlineList;
    margin: 0;
    text-align: right;
  }

  .topNav{
    a{
      font-size: rem($menu-font-size-small);
      padding: 5px 0;
    }
  }
  .mainNav{
    a{
      font-size: rem($menu-font-size);
      padding: $spacing 0;
    }
  }
}
