.header-app{
  overflow: hidden;
  background-color: $color-black;

  .logo{
    float: left;
    padding: $spacing 0;
  }
  .navigation{
    float: right;
    margin: ($spacing/4) ($spacing * 1.5) 0 0;
  }

  ul{
    @extend .nav;
    @extend .inlineList;
    margin: 0;
    text-align: right;
  }

  .topNav{
    a{
      padding: 5px 0 5px $menu-h-padding;
    }
  }
  .mainNav{
    a{
      @include font-size($menu-font-size);
      padding: 18px 0 18px ($spacing * 1.25);
    }
  }
}
