<div class="index__billboard">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">	
				<div class="mb-watchlist-text">
					<div class="mb-watchlist-text-title">Ihre Merkliste.</div>
					Für einen schnelleren Zugriff und bessere Übersicht, finden Sie hier Ihre gemerkten Fahrzeugangebote. <br>
					Sie können Ihre gemerkten Fahrzeuge auch einfach vergleichen, um zu sehen, welches besser zu Ihnen passt.
					<div>
						<a href="#" class="mb-watchlist-button mb-watchlist-compare">
							<i class="mb-icon-compare"></i>
							Angebote vergleichen
						</a>
					</div>
					<div class="mb-watchlist-warning">
						<i class="mb-watchlist-warning-icon"></i>
						Sie sind aktuell nicht eingeloggt und Ihre Merkliste wird nicht dauerhaft gespeichert. Um Ihre Merkliste zu speichern <br>
						loggen Sie sich bitte ein. Falls Sie noch kein Benutzerkonto haben, können Sie sich schnell und einfach registrieren.
					</div>
					<div class="mb-watchlist-buttons-login">
						<a href="#" class="mb-watchlist-button">
							Einloggen
						</a>
						<a href="#" class="mb-watchlist-button">
							Registrieren
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="mb-watchlist-items row">
			<div class="mb-watchlist-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="mb-item-img-wrapper">
					<img src="/images/watchlist/watchlist-1.jpg" alt="">
				</div>
				<h3 class="mb-item-title mb-item-title_gray">Bisher befinden sich keine Fahrzeuge <br> in Ihrer Merkliste.</h3>
			</div>
			<div class="mb-watchlist-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="mb-item-img-wrapper">
					<img src="/images/watchlist/watchlist-2.jpg" alt="">
				</div>
				<h3 class="mb-item-title">Alle Angebote entdecken und <br> Wunschfahrzeug finden.</h3>
			</div>
			<div class="mb-catalogue-dark-block col-md-12 col-lg-4">
				<div class="mb-dark-block-title">
						Haben Sie noch Fragen zu unseren Angeboten?
				</div>
				<ul class="mb-dark-block-list">
					<li class="js-call-callback-modal">
						<i class="mb-icon-phone"></i>Rückruf anfordern <i class="pull-right md-icon-right-angle"></i>
					</li>
					<li><i class="mb-icon-chat"></i>Live-Chat starten 
						<span class="pull-right md-icon-right-angle"></span>
					</li>
					<li class="js-support-modal"><i class="mb-icon-people"></i>Beratung vor Ort vereinbaren 
						<span class="pull-right md-icon-right-angle"></span>
					</li>
					<li class="js-call-email-modal"><i class="mb-icon-letter"></i>Anfrage per E-Mail senden 
						<span class="pull-right md-icon-right-angle"></span>
					</li>
				</ul>
			</div>
		</div>

		<div class="mb-watchlist-catalogue row">
			<div class="mb-watchlist-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="mb-item-img-wrapper">
					<img src="/images/watchlist/democar.jpg" alt="">
				</div>
				<div class="mb-item-title">
					<a href="#">A 200 AMG Line</a>
				</div>
				<div class="mb-item-content-1">
				  	403,00 Euro mtl. Gesamt-Leasing-Rate1
				  	<span>32.349,50 Euro Kaufpreis ab Werk</span>
				  	<div class="mb-icon-i"></div>
				</div>
				<div class="mb-item-content-3">
				  Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
				</div>
				<div class="mb-item-action-button">
					<a href="#" class="mb-watchlist-button">
						Probe fahren
					</a>
					<a href="#checkout/10299097199" class="mb-watchlist-button">
						Bestellen
					</a>
				</div>
			</div>
			<div class="mb-watchlist-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="mb-item-img-wrapper mb-item-img-white">
					<img src="/images/watchlist/democar.jpg" alt="">
				</div>
				<div class="mb-item-title">
					<a href="#">A 200 AMG Line</a>
				</div>
				<div class="mb-item-content-1">
				  	403,00 Euro mtl. Gesamt-Leasing-Rate1
				  	<span>32.349,50 Euro Kaufpreis ab Werk</span>
				  	<div class="mb-icon-i"></div>
				</div>
				<div class="mb-item-content-3">
				  Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
				</div>
				<div class="mb-item-action-button">
					<a href="#" class="mb-watchlist-button">
						Probe fahren
					</a>
					<a href="#checkout/10299097199" class="mb-watchlist-button">
						Bestellen
					</a>
				</div>
			</div>
		</div>
	</div>
</div>