<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h2>Angebotsdaten.</h2>
  <h3>A 180 Sondermodell StreetStyle</h3>
  <ul class="mb-offer-detail-list">
    <li>
      <span>Nettokaufpreis Fahrzeug</span>
      <p>37.105,00 Euro</p>
    </li>
    <li>
      <span>Zuzüglich derzeit 19% Umsatzsteuer</span>
      <p>7.049,95 Euro</p>
    </li>
    <li>
      <span>Bruttokaufpreis Fahrzeug</span>
      <p>44.154,95 Euro</p>
    </li>
    <li>
      <span>
        Zuzüglich Überführung (797,30 Euro) und 
        Zulassung (160,00 Euro)
      </span>
      <p>122 g/km</p>
    </li>
    <li class="important">
      <span>Gesamtpreis</span>
      <p>44.154,95 Euro</p>
    </li>
  </ul>
  <h3>Leasing-Komplett-Paket (Ein Angebot der Mercedes-Benz Leasing GmbH, Siemensstraße 7, 70469 Stuttgart)</h3>
  <ul class="mb-offer-detail-list">
    <li>
      <span>Laufzeit</span>
      <p>36 Monate</p>
    </li>
    <li>
      <span>Gesamtlaufleistung</span>
      <p>30.000,00 km</p>
    </li>
    <li>
      <span>Leasing Sonderzahlung (0% des Bruttokaufpreises ab Werk)</span>
      <p>0,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Gesamtkreditbetrag (Nettodarlehensbetrag)</span>
      <p>31.731,00 Euro</p>
    </li>
    <li>
      <span>Gesamtbetrag<sup>1</sup></span>
      <p>20.616,22 Euro</p>
    </li>
    <li>
      <span>Monatliche Leasingrate für Gebrauchsüberlassung</span>
      <p>280,00 Euro</p>
    </li>
    <li>
      <span>Monatliche Rate für Überführung und Zulassung</span>
      <p>10,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Monatliche Rate für Kfz-Versicherung (Haftpflicht und Vollkasko) inklusive Versicherungssteuer</span>
      <p>10,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Monatliche Rate für Wartung und Verschleißreparaturen</span>
      <p>69,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Sollzinssatz % p.a. gebunden</span>
      <p>-5,38 %</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Effektiver Jahreszins</span>
      <p>-4,63 %</p>
    </li>
    <li>
      <span>Monatliche Gesamt-Leasing-Rate<sup>*</sup></span>
      <p>450,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
  </ul>
  <h3>Ihre Vorteile.</h3>
  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Leasing &amp; Versicherung
        </a>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="panel-advantages-list">
            <li>
              Leasing inklusive Haftpflicht- und Vollkaskoversicherung
            </li>
            <li>
              Eine konstante Versicherungsprämie über die gesamte Laufzeit - auch im Schadensfall
            </li>
            <li>
              Vollständiger Ersatz bei Diebstahl von Audio-, Video-, Kommunikations- und
              Leitsystemen bis 6 Monate nach Erstzulassung
            </li>
          </ul>
          <p class="panel-additional-text">
            Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Wartung und Verschleißrepara...
        </a>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          content
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Überführung und Zulassung
        </a>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          content
        </div>
      </div>
    </div>

  </div>
</div>