<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h2>Ihre Vorteile.</h2>
  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Leasing &amp; Versicherung
        </a>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="panel-advantages-list">
            <li>
              Leasing inklusive Haftpflicht- und Vollkaskoversicherung
            </li>
            <li>
              Eine konstante Versicherungsprämie über die gesamte Laufzeit - auch im Schadensfall
            </li>
            <li>
              Vollständiger Ersatz bei Diebstahl von Audio-, Video-, Kommunikations- und
              Leitsystemen bis 6 Monate nach Erstzulassung
            </li>
          </ul>
          <p class="panel-additional-text">
            Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Wartung und Verschleißrepara...
        </a>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          content
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Überführung und Zulassung
        </a>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          content
        </div>
      </div>
    </div>

  </div>
</div>