<div class="mb-item-img-wrapper mb-default">
  <img src="{{car.imagesCatalogueTileExterior.url}}" alt=""/>
</div>
<h3 class="mb-item-title">
  <a href="#product/{{offerNumber}}">{{car.model}}</a>
</h3>
<div class="mb-item-content-1">
  32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
  <div class="mb-icon-i"></div>
</div>
<div class="mb-item-content-2">
  Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
</div>