<button type="button" class="close" aria-hidden="true">&times;</button>
<div class="modal-content padding-0">
  <div class="container-fluid mb-catalogue-wrapper">
    <div class="mb-catalogue-header row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="mb-catalogue-total">Wählen Sie ein Angebot das Sie vergleichen möchten.</h2>
      </div>
      <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
        <select class="form-control mb-catalogue-select" name="" id="">
          <option value="">Neueste Angebote</option>
          <option value="">Beliebteste Angebote</option>
        </select>
        <label for="field-1" class="mb-select-arrow"></label>
      </div>
    </div>

    <div class="mb-catalogue-items row">
      <div class="mb-catalogue-items-region">
        <div class="mb-catalogue-items"></div>
      </div>
    </div>
    <div class="mb-pagination-region"></div>
  </div>

</div>
