<div class="index__billboard">
  <div class="mb-campaign mb-campaign-hero-block hidden-xs">
    <img class="mb-campaign-hero" src="/images/campaign/campaign-poster-2.jpg" alt="...">
    <div class="mb-campaign-text-block">
      <h3 class="mb-campaign-header">{{locale "catalogue.subtitle"}}</h3>
    </div>
  </div>
</div>
<div class="mb-nav-region"></div>
<div class="mb-catalogue-region"></div>
