{{#if viewType}}
<div class="mb-catalogue-line">
  <div class="mb-catalogue-tabs">
    <div class="mb-tab js-tab active">Neu im Store</div>
    <div class="mb-tab js-tab">Meist angesehen</div>
  </div>
</div>  
{{else}}
<div class="mb-catalogue-header row">
  <div class="col-xs-6">
    <h2 class="mb-catalogue-total">Angebote.</h2>
  </div>
  <div class="col-xs-6 text-right">
    <select class="form-control mb-catalogue-select" name="" id="">
      <option value="">Neueste Angebote</option>
      <option value="">Beliebteste Angebote</option>
    </select>
    <label for="field-1" class="mb-select-arrow"></label>
  </div>
</div>
{{/if}}

<div class="mb-catalogue-items">
  <div class="mb-catalogue-dark-block">
    <div class="mb-dark-block-title">Haben Sie noch Fragen zu
      <br/>unseren Angeboten?
    </div>
    <ul class="mb-dark-block-list">
      <li class="js-call-callback-modal"><i class="mb-icon-phone"></i>Rückruf anfordern <i class="pull-right md-icon-right-angle"></i></li>
      <li><i class="mb-icon-chat"></i>Live-Chat starten <span class="pull-right md-icon-right-angle"></span></li>
      <li class="js-support-modal"><i class="mb-icon-people"></i>Beratung vor Ort vereinbaren <span class="pull-right md-icon-right-angle"></span></li>
      <li class="js-call-email-modal"><i class="mb-icon-letter"></i>Anfrage per E-Mail senden <span class="pull-right md-icon-right-angle"></span></li>
    </ul>
  </div>
  <div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-flag">Sondermodell StreetStyle</div>
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-full-height">
        <img src="/images/content/All_Offers_Teaser.png" alt=""/>
      </div>
      <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
    </div>
  </div>
</div>
<nav class="mb-pagination-wrapper">
  <ul class="pagination mb-pagination">
    <li class="mb-pagination-item mb-pagination-item-prev">
      <a href="#" aria-label="Previous">
        <img src="/images/icons/left-angle.png" alt="">
      </a>
    </li>
    <li class="mb-pagination-item active"><a href="#">1</a></li>
    <li class="mb-pagination-item"><a href="#">2</a></li>
    <li class="mb-pagination-item"><a href="#">3</a></li>
    <li class="mb-pagination-item"><a href="#">4</a></li>
    <li class="mb-pagination-item"><a href="#">5</a></li>
    <li class="mb-pagination-item mb-pagination-item-next">
      <a href="#" aria-label="Next">
        <img src="/images/icons/right-angle.png" alt="">
      </a>
    </li>
  </ul>
</nav>
<div class="mb-catalogue-overlay"></div>
