<div class="mb-catalogue-line">
  <div class="mb-catalogue-tabs">
    <div class="mb-tab mb-active-tab">Neu im Store</div>
    <div class="mb-tab">Meist angesehen</div>
  </div>
</div>
<div class="mb-catalogue-items">
  <div class="mb-catalogue-dark-block pull-right">
    <div class="mb-dark-block-title">Haben Sie noch Fragen zu
      <br/>unseren Angeboten?
    </div>
    <ul class="mb-dark-block-list">
      <li><i class="mb-icon-phone"></i>Rückruf anfordern <i class="pull-right md-icon-right-angle"></i></li>
      <li><i class="mb-icon-chat"></i>Live-Chat starten <span class="pull-right md-icon-right-angle"></span></li>
      <li><i class="mb-icon-people"></i>Beratung vor Ort vereinbaren <span class="pull-right md-icon-right-angle"></span></li>
      <li><i class="mb-icon-letter"></i>Anfrage per E-Mail senden <span class="pull-right md-icon-right-angle"></span></li>
    </ul>
  </div>
  <div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-flag">Sondermodell StreetStyle</div>
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-default">
        <img src="/images/cars/c/c200.png" alt=""/>
      </div>
      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
      <div class="mb-item-content-1">
        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
        <div class="mb-icon-i"></div>
      </div>
      <div class="mb-item-content-2">
        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
      </div>
    </div>
    <div class="mb-catalogue-item">
      <div class="mb-item-img-wrapper mb-full-height">
        <img src="/images/content/All_Offers_Teaser.png" alt=""/>
      </div>
      <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
    </div>
  </div>
</div>

</div>
