<div class="mb-models-named-list-item-picture-wrapper">
  <img class="mb-models-named-list-item-picture" src="/images/cars/a/a-l-model-navigation.png">
</div>
<span class="mb-models-named-list-item-model-klasse">A</span>
<p class="mb-models-named-list-item-model-name">{{car.model}}</p>
<p class="mb-models-named-list-item-model-desc">31 Angebote</p>
