<div class="index__billboard">
  <div class="mb-model-navigation-wrapper container-fluid">
    <div class="row">
      <h2 class="mb-model-navigation-title">Welcher Mercedes passt zu Ihnen?</h2>
      <div class="mb-models-named-list"> 

      </div>
       <div class="mb-models-named-list-item-fav col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <h3>
          Ihr Favorit ist nicht dabei?
        </h3>
        <h4>
          Teilen Sie uns Ihre Wünsche mit und wir beraten Sie 
        </h4>
      </div>

      <div class="mb-models-named-list-item-ad col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-item-img-wrapper">
          <img src="/images/content/All_Offers_Teaser.png" alt=""/>
        </div>
        <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
      </div>

      <div class="mb-models-named-list-item-ad col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-item-img-wrapper">
          <img src="/images/content/All_Offers_Teaser.png" alt=""/>
        </div>
        <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
      </div>
    </div>
  </div>
</div>