<div class="index__billboard">

  <div class="mb-model-navigation-wrapper">
    <h2 class="mb-model-navigation-title">Welcher Mercedes passt zu Ihnen?</h2>
    <div class="mb-model-navigation-slider">

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/a/a-l-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">A</span>
        <p class="mb-model-navigation-slide-model-name">A-Klasse Limousine</p>
        <p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/b/b-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">B</span>
        <p class="mb-model-navigation-slide-model-name">B-Klasse</p>
        <p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/c/c-l-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">C</span>
        <p class="mb-model-navigation-slide-model-name">C-Klasse Limousine</p>
        <p class="mb-model-navigation-slide-model-desc">13 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/c/c-t-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">C</span>
        <p class="mb-model-navigation-slide-model-name">C-Klasse T-Modell</p>
        <p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/c/c-c-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">C</span>
        <p class="mb-model-navigation-slide-model-name">C-Klasse Coupe</p>
        <p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/cla/cla-c-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">CLA</span>
        <p class="mb-model-navigation-slide-model-name">CLA Coupe</p>
        <p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/cla/cla-sb-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">CLA</span>
        <p class="mb-model-navigation-slide-model-name">CLA Shooting Brake</p>
        <p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/cls/cls-c-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">CLS</span>
        <p class="mb-model-navigation-slide-model-name">CLS Coupe</p>
        <p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/cls/cls-sb-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">CLS</span>
        <p class="mb-model-navigation-slide-model-name">CLS Shooting Brake</p>
        <p class="mb-model-navigation-slide-model-desc">13 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-l-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">E</span>
        <p class="mb-model-navigation-slide-model-name">E-Klasse Limousine</p>
        <p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-t-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">E</span>
        <p class="mb-model-navigation-slide-model-name">E-Klasse T-Modell</p>
        <p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-c-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">E</span>
        <p class="mb-model-navigation-slide-model-name">E-Klasse Coupe</p>
        <p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/e/e-cab-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">E</span>
        <p class="mb-model-navigation-slide-model-name">E-Klasse Cabriolet</p>
        <p class="mb-model-navigation-slide-model-desc">31 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/gla/gla-o-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">GLA</span>
        <p class="mb-model-navigation-slide-model-name">GLA Offroader</p>
        <p class="mb-model-navigation-slide-model-desc">24 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/gle/gle-c-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">GLE</span>
        <p class="mb-model-navigation-slide-model-name">GLE Coupe</p>
        <p class="mb-model-navigation-slide-model-desc">13 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/gle/glk-o-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">GLK</span>
        <p class="mb-model-navigation-slide-model-name">GLK Offroader</p>
        <p class="mb-model-navigation-slide-model-desc">13 Angebote</p>
      </div>

      <div class="mb-model-navigation-slide">
        <div class="mb-model-navigation-slide-picture-wrapper">
          <img class="mb-model-navigation-slide-picture" src="/images/cars/slk/slk-r-model-navigation.png">
        </div>
        <span class="mb-model-navigation-slide-model-klasse">SLK</span>
        <p class="mb-model-navigation-slide-model-name">SLK Roadster</p>
        <p class="mb-model-navigation-slide-model-desc">11 Angebote</p>
      </div>

    </div>
  </div>

</div>