<div class="index__billboard">

  <div class="mb-model-navigation-wrapper">
    <h2 class="mb-model-navigation-title">Welcher Mercedes passt zu Ihnen?</h2>
    <div class="mb-models-named-list row">

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/a/a-l-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">A</span>
        <p class="mb-models-named-list-item-model-name">A-Klasse Limousine</p>
        <p class="mb-models-named-list-item-model-desc">31 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/b/b-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">B</span>
        <p class="mb-models-named-list-item-model-name">B-Klasse</p>
        <p class="mb-models-named-list-item-model-desc">24 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/c/c-l-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">C</span>
        <p class="mb-models-named-list-item-model-name">C-Klasse Limousine</p>
        <p class="mb-models-named-list-item-model-desc">13 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/c/c-t-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">C</span>
        <p class="mb-models-named-list-item-model-name">C-Klasse T-Modell</p>
        <p class="mb-models-named-list-item-model-desc">11 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/c/c-c-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">C</span>
        <p class="mb-models-named-list-item-model-name">C-Klasse Coupe</p>
        <p class="mb-models-named-list-item-model-desc">31 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/cla/cla-c-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">CLA</span>
        <p class="mb-models-named-list-item-model-name">CLA Coupe</p>
        <p class="mb-models-named-list-item-model-desc">24 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/cla/cla-sb-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">CLA</span>
        <p class="mb-models-named-list-item-model-name">CLA Shooting Brake</p>
        <p class="mb-models-named-list-item-model-desc">31 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/cls/cls-c-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">CLS</span>
        <p class="mb-models-named-list-item-model-name">CLS Coupe</p>
        <p class="mb-models-named-list-item-model-desc">24 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/cls/cls-sb-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">CLS</span>
        <p class="mb-models-named-list-item-model-name">CLS Shooting Brake</p>
        <p class="mb-models-named-list-item-model-desc">13 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/e/e-l-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">E</span>
        <p class="mb-models-named-list-item-model-name">E-Klasse Limousine</p>
        <p class="mb-models-named-list-item-model-desc">11 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/e/e-t-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">E</span>
        <p class="mb-models-named-list-item-model-name">E-Klasse T-Modell</p>
        <p class="mb-models-named-list-item-model-desc">11 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/e/e-c-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">E</span>
        <p class="mb-models-named-list-item-model-name">E-Klasse Coupe</p>
        <p class="mb-models-named-list-item-model-desc">11 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/e/e-cab-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">E</span>
        <p class="mb-models-named-list-item-model-name">E-Klasse Cabriolet</p>
        <p class="mb-models-named-list-item-model-desc">31 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/gla/gla-o-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">GLA</span>
        <p class="mb-models-named-list-item-model-name">GLA Offroader</p>
        <p class="mb-models-named-list-item-model-desc">24 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/gle/gle-c-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">GLE</span>
        <p class="mb-models-named-list-item-model-name">GLE Coupe</p>
        <p class="mb-models-named-list-item-model-desc">13 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/gle/glk-o-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">GLK</span>
        <p class="mb-models-named-list-item-model-name">GLK Offroader</p>
        <p class="mb-models-named-list-item-model-desc">13 Angebote</p>
      </div>

      <div class="mb-models-named-list-item col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-models-named-list-item-picture-wrapper">
          <img class="mb-models-named-list-item-picture" src="/images/cars/slk/slk-r-model-navigation.png">
        </div>
        <span class="mb-models-named-list-item-model-klasse">SLK</span>
        <p class="mb-models-named-list-item-model-name">SLK Roadster</p>
        <p class="mb-models-named-list-item-model-desc">11 Angebote</p>
      </div>

      <div class="mb-models-named-list-item-fav col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <h3>
          Ihr Favorit ist nicht dabei?
        </h3>
        <h4>
          Teilen Sie uns Ihre Wünsche mit und wir beraten Sie 
        </h4>
      </div>

      <div class="mb-models-named-list-item-ad col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-item-img-wrapper">
          <img src="/images/content/All_Offers_Teaser.png" alt=""/>
        </div>
        <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
      </div>

      <div class="mb-models-named-list-item-ad col-xs-12 col-sm-6 col-md-fifth col-lg-2">
        <div class="mb-item-img-wrapper">
          <img src="/images/content/All_Offers_Teaser.png" alt=""/>
        </div>
        <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
      </div>

    </div>
  </div>

</div>