<div class="index__billboard container-md">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1>Meine Bestellungen.</h1>
      <ul class="mb-my-offers-list">
        <li class="row mb-my-offers-list-item">
          <div class="col-xs-12 col-md-12">
            <h3><a href="#myorders/10211219410">A 180 - AMG Line</a></h3>
            <hr>
          </div>
          <div class="col-xs-12 col-md-6">
            <ul>
              <li class="row">
                <span class="col-xs-4">Bestellt durch</span>
                <span class="col-xs-8">Herr Klaus Schmidt</span>
              </li>
              <li class="row">
                <span class="col-xs-4">Bestelldatum</span>
                <span class="col-xs-8">31.09.2015</span>
              </li>
              <li class="row">
                <span class="col-xs-4">Lieferadresse</span>
                <span class="col-xs-8">Schlüterstraße 104, 12087 Berlin</span>
              </li>
              <li class="row">
                <span class="col-xs-4">Lieferdatum</span>
                <span class="col-xs-8">
                  voraussichtlich 15.09.2005
                  <br> 
                  09:00 - 12:00 Uhr
                </span>
              </li>
              <li class="row">
                <span class="col-xs-4">Bestellnummer</span>
                <span class="col-xs-8">MB192037</span>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="/images/cars/a/a-180-front-34.png" alt="">
          </div>
          <div class="col-xs-12">
            <hr>
          </div>
        </li>
        <li class="row mb-my-offers-list-item">
          <div class="col-xs-12 col-md-12">
            <h3><a href="#myorders/10211219410">A 180 - AMG Line</a></h3>
            <hr>
          </div>
          <div class="col-xs-12 col-md-6">
            <ul>
              <li class="row">
                <span class="col-xs-4">Bestellt durch</span>
                <span class="col-xs-8">Herr Klaus Schmidt</span>
              </li>
              <li class="row">
                <span class="col-xs-4">Bestelldatum</span>
                <span class="col-xs-8">31.09.2015</span>
              </li>
              <li class="row">
                <span class="col-xs-4">Lieferadresse</span>
                <span class="col-xs-8">Schlüterstraße 104, 12087 Berlin</span>
              </li>
              <li class="row">
                <span class="col-xs-4">Lieferdatum</span>
                <span class="col-xs-8">
                  voraussichtlich 15.09.2005
                  <br> 
                  09:00 - 12:00 Uhr
                </span>
              </li>
              <li class="row">
                <span class="col-xs-4">Bestellnummer</span>
                <span class="col-xs-8">MB192037</span>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="/images/cars/b/b-200-front-34.png" alt="">
          </div>
          <div class="col-xs-12">
            <hr>
          </div>
        </li>
      </ul>
		</div>
	</div>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="mb-contacts-dark-block">
        <h3>Haben Sie Fragen zu Ihrer Bestellung?</h3>
        <div class="row">
          <div class="col-xs-3">
            <a href="#" class="mb-contacts-dark-block-callback">
              {{locale "checkout.help.callback"}}
            </a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="mb-contacts-dark-block-chat">
              {{locale "checkout.help.chat"}}
            </a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="mb-contacts-dark-block-consult">
              {{locale "checkout.help.support"}}
            </a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="mb-contacts-dark-block-email">
              {{locale "checkout.help.email"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>