.quick-entry-level-item-app{
  @include gradient($color-white, darken($color-white, 5));
  overflow: hidden;
  position: relative;
  padding: $spacing 0px ($spacing * 2);
  .carusel-container{
    @extend .container;
  }
  .quick-list{
    width: 100%;
    li{
      position: relative;
      min-height: 1px;
      float: left;
      padding: 20px 34px 0 0;
      transition: transform .3s ease;
    }
    .car-class{
      @include largeText();
      position: absolute;
      top: -25px;
      right: ($spacing * 2);
      line-height: 1;
    }
    img{
      width: 100%;
      height: auto;
      padding-bottom: ($spacing / 4);
    }
    header{
      line-height: 1.1;
      color: $color-grey-dark;
    }
    .desc{
      color: $color-grey;
      @include font-size(16px);
      font-family: $font-corporate-regular;
    }
  }
  /* navigation */
  .carusel-nav{
    .nav-button{
      cursor: pointer;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      width: $button-size;
      height: $button-size;
      background-color: $color-grey-light;
      &.hide{
        display: none;
      }
    }
    .next{
      @include posar(50%, 0);
      transform: translateY(-50%);
      background-image: url('../../../images/arrow-next.png');
    }
    .prev{
      @include posa(50%, 0);
      transform: translateY(-50%);
      background-image: url('../../../images/arrow-prev.png');
    }
  }
}
