<nav class="mb-catalogue-navigation">
	<button class="btn mb-scroll-to-top hidden-xs"></button>
	<div class="mb-filters-region"></div>
	<div class="mb-search-region hidden-xs"></div>
</nav>
<div class="mb-catalogue-navigation-search-block hidden-xs">
	<div class="mb-catalogue-navigation-search-input-wrapper container-fluid">
		<div class="input-group">
		  <input type="text" class="form-control js-catalogue-search-input" placeholder="Was für ein Fahrzeug suchen Sie?">
		  <span class="input-group-btn">
        <button class="btn btn-default js-clear-search-query" type="button">&times;</button>
      </span>
		</div>
	</div>
</div>
<div class="mb-search-tags-region hidden-xs"></div>
