$static-base    : '/client/src';
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ASSET PATHS

// @static-base: is defined in Gruntfile.js and injected into Less
$path-fonts         : '$static-base/styles/fonts';
//$path-img           : '$static-base/img';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY

//PUBLICO
//regular
$font-corporate-regular             : 'CorporateS-Regular', Arial, sans-serif;
$font-corporate-light             : 'CorporateS-Light', Arial, sans-serif;
$font-corporate-demi              : 'CorporateS-Demi', Arial, sans-serif;
$font-corporate-bold              : 'CorporateS-Bold', Arial, sans-serif;
$font-corporate-con-reg           : 'CorporateACon-Reg', Arial, sans-serif;

$font-family-base                 : $font-corporate-regular ;

$font-size-default   : 18px;
$line-height-default : 1.8;
$font-size-small   : 14px;
$font-size-normal   : 20px;


$font-weight-normal: 400;
$font-weight-bold: 700;

/* Colors */

//Black
$color-black: #000000;
$color-black-sepia: #1f1f1f;
//Grey
$color-grey: #999999;
$color-grey-dark: #333333;
$color-grey-light: #ececec;
//White
$color-white: #ffffff;
//Brown
$color-brown: #3c3c3c;
//Blue
$color-blue: #00adef;

//menu colors
$color-menu-default: $color-grey;
$color-menu-hover: $color-white;
$color-menu-active: $color-white;
$color-menu-bg: $color-black;
$menu-font-size: $font-size-normal;
$menu-font-size-small: $font-size-small;
$menu-h-padding: 40px;
//buttons
$button-blue-height: 44px;
$color-button-blue: $color-blue;
$color-inactive: rgba($color-button-blue, 0.5);


/* Breakpoints */
$vp-mobile-min: 340px;
$vp-mobile-max: 543px;
$vp-mobileTablet-min: 544px;
$vp-mobileTablet-max: 767px;
$vp-tabletDesktop-min: 768px;
$vp-tabletDesktop-max: 1023px;
$vp-desktop-min: 1024px;
$vp-noContentPagePadding: 1130px;
$maxContentWidth: 960px;

/* meqia queries */
$m-mobile: "(max-width: #{$vp-mobile-max})";
$m-mobile-up: "(min-width: #{$vp-mobile-min})";
$m-mobileTablet: "(min-width: #{$vp-mobileTablet-min}) and (max-width: #{$vp-mobileTablet-max})";
$m-mobileTablet-up: "(min-width: #{$vp-mobileTablet-min})";
$m-tabletDektop: "(min-width: #{$vp-tabletDesktop-min}) and (max-width: #{$vp-tabletDesktop-max})";
$m-tabletDektop-up: "(min-width: #{$vp-tabletDesktop-min})";
$m-desktop-down: "(max-width: #{$vp-tabletDesktop-max:})";
$m-desktop-up: "(min-width: #{$vp-desktop-min})";
$m-noContentPaddingNeeded: "(min-width: #{$vp-noContentPagePadding})";

$spacing: 24px;
