@font-face {
  font-family: 'PublicoHeadline-Light';
  src: url('fonts/publico/PublicoHeadline-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Light.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Light.woff') format('woff'), url('fonts/publico/PublicoHeadline-Light.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Light.svg#PublicoHeadline-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-Roman';
  src: url('fonts/publico/PublicoHeadline-Roman.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Roman.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Roman.woff') format('woff'), url('fonts/publico/PublicoHeadline-Roman.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Roman.svg#PublicoHeadline-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-Medium';
  src: url('fonts/publico/PublicoHeadline-Medium/PublicoHeadline-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Medium/PublicoHeadline-Medium.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Medium/PublicoHeadline-Medium.woff') format('woff'), url('fonts/publico/PublicoHeadline-Medium/PublicoHeadline-Medium.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Medium/PublicoHeadline-Medium.svg#PublicoHeadline-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-Bold';
  src: url('fonts/publico/PublicoHeadline-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Bold.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Bold.woff') format('woff'), url('fonts/publico/PublicoHeadline-Bold.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Bold.svg#PublicoHeadline-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-Extrabold';
  src: url('fonts/publico/PublicoHeadline-Extrabold.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Extrabold.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Extrabold.woff') format('woff'), url('fonts/publico/PublicoHeadline-Extrabold.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Extrabold.svg#PublicoHeadline-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-Black';
  src: url('fonts/publico/PublicoHeadline-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Black.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Black.woff') format('woff'), url('fonts/publico/PublicoHeadline-Black.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Black.svg#PublicoHeadline-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'PublicoHeadline-LightItalic';
  src: url('fonts/publico/PublicoHeadline-LightItalic/PublicoHeadline-LightItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-LightItalic/PublicoHeadline-LightItalic.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-LightItalic/PublicoHeadline-LightItalic.woff') format('woff'), url('fonts/publico/PublicoHeadline-LightItalic/PublicoHeadline-LightItalic.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-LightItalic/PublicoHeadline-LightItalic.svg#PublicoHeadline-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-Italic';
  src: url('fonts/publico/PublicoHeadline-Italic/PublicoHeadline-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-Italic/PublicoHeadline-Italic.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-Italic/PublicoHeadline-Italic.woff') format('woff'), url('fonts/publico/PublicoHeadline-Italic/PublicoHeadline-Italic.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-Italic/PublicoHeadline-Italic.svg#PublicoHeadline-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-MediumItalic';
  src: url('fonts/publico/PublicoHeadline-MediumItalic/PublicoHeadline-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-MediumItalic/PublicoHeadline-MediumItalic.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-MediumItalic/PublicoHeadline-MediumItalic.woff') format('woff'), url('fonts/publico/PublicoHeadline-MediumItalic/PublicoHeadline-MediumItalic.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-MediumItalic/PublicoHeadline-MediumItalic.svg#PublicoHeadline-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-BoldItalic';
  src: url('fonts/publico/PublicoHeadline-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-BoldItalic.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-BoldItalic.woff') format('woff'), url('fonts/publico/PublicoHeadline-BoldItalic.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-BoldItalic.svg#PublicoHeadline-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PublicoHeadline-ExtraboldItalic';
  src: url('fonts/publico/PublicoHeadline-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-ExtraboldItalic.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-ExtraboldItalic.woff') format('woff'), url('fonts/publico/PublicoHeadline-ExtraboldItalic.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-ExtraboldItalic.svg#PublicoHeadline-ExtraboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoHeadline-BlackItalic';
  src: url('fonts/publico/PublicoHeadline-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/publico/PublicoHeadline-BlackItalic.otf')  format('opentype'),
       url('fonts/publico/PublicoHeadline-BlackItalic.woff') format('woff'), url('fonts/publico/PublicoHeadline-BlackItalic.ttf')  format('truetype'), url('fonts/publico/PublicoHeadline-BlackItalic.svg#PublicoHeadline-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

