@font-face {
	font-family:'CorporateS-Regular';
	src: url('/fonts/CorporateS-Regular_gdi.eot');
	src: url('/fonts/CorporateS-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CorporateS-Regular_gdi.woff') format('woff'),
		url('/fonts/CorporateS-Regular_gdi.ttf') format('truetype'),
		url('/fonts/CorporateS-Regular_gdi.otf') format('opentype'),
		url('/fonts/CorporateS-Regular_gdi.svg#CorporateS-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'CorporateS-Light';
	src: url('/fonts/CorporateS-Light_gdi.eot');
	src: url('/fonts/CorporateS-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CorporateS-Light_gdi.woff') format('woff'),
		url('/fonts/CorporateS-Light_gdi.ttf') format('truetype'),
		url('/fonts/CorporateS-Light_gdi.otf') format('opentype'),
		url('/fonts/CorporateS-Light_gdi.svg#CorporateS-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'CorporateS-Demi';
	src: url('/fonts/CorporateS-Demi_gdi.eot');
	src: url('/fonts/CorporateS-Demi_gdi.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CorporateS-Demi_gdi.woff') format('woff'),
		url('/fonts/CorporateS-Demi_gdi.ttf') format('truetype'),
		url('/fonts/CorporateS-Demi_gdi.otf') format('opentype'),
		url('/fonts/CorporateS-Demi_gdi.svg#CorporateS-Demi') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'CorporateS-Bold';
	src: url('/fonts/CorporateS-Bold_gdi.eot');
	src: url('/fonts/CorporateS-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CorporateS-Bold_gdi.woff') format('woff'),
		url('/fonts/CorporateS-Bold_gdi.ttf') format('truetype'),
		url('/fonts/CorporateS-Bold_gdi.otf') format('opentype'),
		url('/fonts/CorporateS-Bold_gdi.svg#CorporateS-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'CorporateACon-Reg';
	src: url('/fonts/CorporateACon-Reg_gdi.eot');
	src: url('/fonts/CorporateACon-Reg_gdi.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CorporateACon-Reg_gdi.woff') format('woff'),
		url('/fonts/CorporateACon-Reg_gdi.ttf') format('truetype'),
		url('/fonts/CorporateACon-Reg_gdi.otf') format('opentype'),
		url('/fonts/CorporateACon-Reg_gdi.svg#CorporateACon-Reg') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-2666;
}
