.rendering {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.text {
  @extend .rendering;
  color: $color-black;
}


/* titles */

.title {
  @extend .text;
  font-weight: $font-weight-normal;
}

.title-stage {
  @extend .title;

  font-family: $font-publico-medium-italic;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: $spacing * 1.2;

  @media #{$m-tabletDektop-up} {
    margin-bottom: $spacing * 2;
  }
}

.title-stage-thin {
  @extend .title-stage;

  font-family: $font-publico-light-italic;
  margin-bottom: $spacing / 10 * -1;

  @media #{$m-mobileTablet-up} {
    padding-top: $spacing * 3;
  }
  @media #{$m-tabletDektop-up} {
    margin-bottom: $spacing * 0.7;
    padding-top: 0;
  }
}
.title-collection {
  @extend .title;
  font-family: $font-publico-italic;
  font-size: 40px;

  line-height: 48px;
}

.title-stage-collection {
  font-family: $font-publico-italic;
  font-size: 32px;
  font-weight: $font-weight-normal;
  line-height: 30px;
}

.title-fit-and-features {
  @extend .title-stage-collection;
}

.title-stage-collection-thin {
  font-family: $font-publico-light-italic;
  font-size: 22px;
  line-height: 32px;
  font-weight: $font-weight-normal;
}
.title-teaser {
  @extend .title;

  font-family: $font-publico-italic;
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
}

.title-teaser-bold {
  @extend .title-teaser;

  font-family: $font-publico-medium-italic;
  line-height: 32px;
}

.title-menu {
  @extend .title;

}

.title-link-list {
  @extend .title;

  font-family: $font-publico-italic;
  font-size: 32px;

  line-height: 60px;
  margin-bottom: $spacing * 1.5;

}

.title-link-list-small {
  @extend .title-link-list;

  font-size: 32px;
  line-height: 48px;
  margin-bottom: $spacing / 2;

}

.title-link-list-small-tight {
  @extend .title-link-list-small;

  line-height: 40px;
}


.title-explore {
  font-family: $font-publico-italic;
  font-size: 22px;
  font-weight: $font-weight-normal;
  line-height: 30px;
}
.title-explore-bold {
  @extend .title-explore;
  font-family: $font-publico-bold-italic;
}

.link {
  @extend .text;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;

  &:hover {
    color: $color-menu-hover;
  }
}

.link-small {
  font-size: $font-size-default;
}

.link-white {
  @extend .link;
  color: $color-white;
}
.link-small-white {
  @extend .link-white;
  @extend .link-small;
}

/* link lists */
.link-list-item {
  @extend .copy-text;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  &:hover {
    color: $color-menu-hover;
  }
}
.link-list {

  h4 {
    @extend .link-list-item;
    font-weight: $font-weight-bold;
    &:hover {
      color: $color-black;
    }
  }

  a {
    @extend .link-list-item;
  }
}

/* Menus */

/* Main Menu */
//Main Menu Item
.link-menu-item {
  @extend .link;

  font-size: 16px;
  text-transform: uppercase;

  .active {
    color: $color-menu-active;
  }
}

.link-menu {
  h4 {
    a {
      @extend .link-menu-item;
      font-weight: $font-weight-bold;
    }
  }

  a {
    @extend .link-menu-item;

    line-height: 1.714;
    text-align: left;
  }
}

/* Meta Menu */
.row-meta-menu {

  a {
    @extend .link;
    font-size: 12px;
  }

  .select-styled,
  .select-options {
    .text {
      font-size: 12px;
    }
  }

}

.expanded-menu {
  li {
    text-align: center;
    a {
      color: $color-white;
      font-family: $font-publico-italic;
      font-size: 40px;
      line-height: 80px;
    }
  }
}

/* Buttons */

.btn {
  @extend .text;
  font-family: $font-family-base;
  font-size: 22px;
  font-weight: $font-weight-normal;
  line-height: 40px;

  &.inactive {
    a {
      color: $colorInactive;
    }
  }

  &:hover {
    background-color: $color-black;

    a {
      color: $color-white;
    }
  }
}

.add-to-bag {
  @extend .btn;
  font-size: 20px;
}

/* copy text */

.text-copy {
  color: $color-black;
  font-family: $font-family-base;
  font-weight: normal;
  font-size: $font-size-default;
  line-height: $line-height-default;
}

.text-copy-shopping-cart-empty {
  @extend .text-copy;
  color: $color-white;
}

/* Inputs */

.input-text {
  @extend .text-copy;
  font-size: 18px;
  line-height: 35px;
}

.select-text {
  @extend .text-copy;
  font-size: 18px;
  line-height: 24px;
}

.select-options-text {
  @extend .select-text;
  color: $color-white;
}

/* meta text */
.text-meta {
  @extend .text-copy;
  font-size: 12px;
}

.footer {
  p {
    color: $color-white;
    line-height: 50px;
    margin: 0;
  }
}

/* product items */

.text-item-name {
  @extend .text-copy;
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight-bold;
}
.text-item-price {
  @extend .text-item-name;
  font-weight: $font-weight-normal;
}

/* Labels */
.label-text {
  @extend .text-copy;
  font-size: 18px;
  font-family: $font-publico-italic;
  font-weight: $font-weight-normal;
}