.container {
   @include container(1440px);
   overflow: hidden;
}


.col4-grid{
  .span{
    @include col-styles;
    @include col(1, $gutter: 4);
    @media #{$m-mobileTablet-up} {
      @include col(1/2, $gutter: 4);
    }

    @media #{$m-tabletDektop-up} {
      @include col(1/4, $uncycle: 2);
    }
  }
}

.col3-grid{
  .span{
    @include col-styles;
    @include col(1, $gutter: 2);
    @media #{$m-mobileTablet-up} {
      @include col(1/3, $gutter: 2.5);
    }
  }
}

.col6-grid{
  .span{
    @include col-styles;
    @include col(1/2, $gutter: 1);
    @media #{$m-mobileTablet-up} {
      @include col(1/6, $gutter: 2.5);
    }
  }
}
