.controls {
  overflow: hidden;
  .btn {
    display: inline-block;
    vertical-align: top;
  }
}
.btn {
  border: 2px solid $color-black;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-in-out;
  white-space: nowrap;

  a {
    display: inline-block;
    padding: 0 32px;
    transition: all .3s ease-in-out;
  }

}

.btn.btn-inverse {
  border-color: $color-white;

  a {
    color: $color-white;
  }
}

.btn.btn-close {
  border: none;

  &:hover {
    background-color: transparent;
    a {
      color: $color-black;
    }
  }
}

//add to bag button
.add-to-bag {
  padding: 0 $spacing 0 $spacing;

  a {
    padding: 0;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .icon-bagwhite {
      height: 18px;
      margin-left: $spacing * 0.8;
      width: 13px;
    }
  }

  &:hover {
    background-position: rem(135px) rem(-57px);
  }
}

.btn.add-to-bag-green {
  @extend .add-to-bag;
  background-color: $color-button-green;
  border: 0;

  a {
    color: $color-white;
  }
}

.btn.btn-brown {
  color: $color-white;
  background: $color-brown-light;
  border: none;
  line-height: rem(48px);
  height: rem(48px);
  &:hover, &:active, &:focus {
    background: $colorBrown;
  }
  a {
    color: $color-white;
  }
}

.btn.btn-green {

}


// @include breakpoint(retina) {
//   .btn.add-to-bag {
//     background-position: rem(135px) rem(-11px);

//     &:hover {
//       background-position: rem(135px) rem(-73px);
//     }
//   }
// }