.controls {
  overflow: hidden;
  .btn {
    display: inline-block;
    vertical-align: top;
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-in-out;
  white-space: nowrap;
  color: $color-white;
  background: $color-blue;
  a {
    display: inline-block;
    padding: 0 rem(18px);
    transition: all .3s ease-in-out;
  }

  &.btn-blue {
    font-size: $font-size-default;
    height: rem($button-blue-height);
    line-height: rem($button-blue-height);
    &:hover, &:active, &:focus {
      background: $color-blue;
    }
    a {
      color: $color-white;
    }
  }

  &.btn-underline{
    font-family: $font-corporate-con-reg;
    background-color: $color-black;
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    @include font-size(24px);
    line-height: 1.2;
    padding: 4px 0;
  }
}
