form {
  position: relative;
}
input {
  display: block;
  margin-top: rem(20px);

  &:first-child {
    margin-top: 0;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}
.form-horizontal {
  overflow: hidden;
  input {
    float: left;

    &[type="submit"] {
      margin-top: 0;
      margin-left: rem(11px);
    }
  }
}
input[type="text"],
input[type="password"] {
  background: none;
  border: 2px solid $color-black;
  color: $color-black;
  font-size: 1.286rem;
  height: rem(38px);
  line-height: rem(36px);
  padding: 0 rem(13px);
}

input[type="submit"] {
  background: none;
  border: 2px solid $color-black;
  cursor: pointer;
  font-size: 1.286rem;
  height: rem(38px);
  line-height: rem(36px);
  padding: 0 rem(32px);
  transition: all .3s ease-in-out;

  &:active,
  &:focus {
    background: $color-black;
    color: $color-white;
  }

  &.inverse {
    background: $color-black;
    color: $color-white;

    &:hover {
      background: none;
      color: $color-black;
    }
  }

  &:hover {
    background: $color-black;
    color: $color-white;
  }
}

::-webkit-input-placeholder {
   color: $color-menu-active;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-menu-active;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-menu-active;
}

:-ms-input-placeholder {
   color: $color-menu-active;
}


// Checkboxes and Radios

.form-item{
  position: relative;
  margin-bottom: rem(23px);

  &.disabled label {
    color: $color-grey-light;
  }
}
input[type=radio],
input[type=checkbox] {
  height: rem(30px);
  position: relative;
  width: rem(30px);
}
input[type=radio],
input[type=checkbox],
label {
  display: inline-block;
  margin-top: 0;
  vertical-align: middle;
}

input[type=checkbox]:before {
  background: $color-black;
  border: 2px solid $color-black;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px rem(100px) $color-white;
  display: inline-block;
  content: '';
  height: rem(30px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
//  transform-origin:center center;
  width: rem(30px);
//  display: none;

}
input[type=checkbox]:checked:before {
  box-shadow: inset 0px 0px 0px 6px $color-white;
}
input[type=checkbox]:disabled:before {
  box-shadow: inset 0px 0px 0px 100px $color-grey-light;
}
label{
  color: $color-black;
  cursor: pointer;
  margin-left: rem(10px);
  overflow: hidden;
  &.disabled{
    color: $color-grey;
    cursor: not-allowed;
  }
}

.select-holder {
  border-bottom: 2px solid $color-black;
  padding-bottom: 5px;

  select {
    position: relative;
    left: -9px;
  }
}
form select {
  background: none;
  color: $color-black;

  &:focus,
  &:active {
    border: 0;
    outline: none;
  }
}

