.box-content-page {
  float: right;
  max-width: 960px;
  padding:0 $spacing;
  width: 100%;

  > div {
    float: none;
  }


  @media #{$m-mobileTablet-up} {
    padding: 0 $spacing * 1.5;
  }

  @media #{$m-tabletDektop-up} {
    padding: 0 $spacing * 2;
  }

  @media #{$m-noContentPaddingNeeded} {
    padding-right: 0;
  }
}

.box-content {
	padding:$spacing;

  @media #{$m-mobileTablet-up} {
    padding: $spacing * 1.5;
  }

  @media #{$m-tabletDektop-up} {
    padding: $spacing * 2;
  }
}

.section-no {
  overflow: visible !important;
}

.section {
  margin-bottom: $spacing;
  overflow: hidden;

  &.border {
    border-bottom: 1px solid $section-border-color;
  }
}
.section-small {
  @extend .section;
  margin-bottom: $spacing / 2;
}
.section-mediummin {
  @extend .section;
  margin-bottom: $spacing * 1.5;
}
.section-medium {
  @extend .section;
  margin-bottom: $spacing * 1.75;
}
.section-big {
  @extend .section;
  margin-bottom: $spacing * 2;
}
.section-bigger {
  @extend .section;
  margin-bottom: $spacing * 3;
}
.section-huge {
  @extend .section;
  margin-bottom: $spacing * 3.75;
}

.section-teaser {
  @extend .section;
}