//include normalize scss
@import "../bower_components/normalize-scss/normalize";

//import Jeet Grid System
@import 'jeet/index';

//import main scss files
@import "00-variables";
@import "01-functions";
@import "10-webfonts";
@import "20-typography";
@import "40-layouts";
@import "60-setup";
@import "70-buttons";
@import "80-forms";
@import "90-styles";

//import app scss files

@import "../scripts/80_apps/header/_header.scss";
@import "../scripts/80_apps/footer/_footer.scss";
@import "../scripts/80_apps/connectionOptions/_connectionOptions.scss";
@import "../scripts/80_apps/quickEntryLevel/_quickEntryLevel.scss";
@import "../scripts/80_apps/stage/_stage.scss";
@import "../scripts/80_apps/offers/_offers.scss";


* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  @include standardText();
}
h1{
  @include h1();
}
h2{
  @include h2();
}
h3{
  @include h3();
}
a {
  text-decoration: none;
  &:hover,
  &:active {
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.inlineList{
    @include inlineList();
  }
}

ol {
  margin: 0;
  padding: 0;
}
.wrapp{

}

.nav{
  @include nav();
}
