<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="mb-link-list">
        <li>
          <a href="#">Alle Angebote</a>
        </li>
        <li>
          <a href="#">StreetStyle Sondermodelle</a>
        </li>
        <li>
          <a href="#">EM-Favoriten</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="mb-link-list">
        <li>
          <a href="#">Modellübersicht</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="mb-link-list">
        <li>
          <a href="#">Store-Info</a>
        </li>
        <li>
          <a href="#">So funktioniert‘s</a>
        </li>
        <li>
          <a href="#">AGB</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="mb-link-list">
        <li>
          <a href="#">
            Kontakt & Service
          </a>
        </li>
        <li>
          <a href="#">Rückruf vereinbaren</a>
        </li>
        <li>
          <a href="#">Persönliche Beratung vor Ort</a>
        </li>
        <li>
          <a href="#">Anfrage per E-Mail senden</a>
        </li>
        <li>
          <a href="#">Live-Chat starten</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mb-subfooter container-fluid">
  &copy; 2015. Daimler AG. Alle Rechte vorbehalten (Anbieter)
  <a href="#">Cookies</a>
  <a href="#">Datenschutz</a>
  <a href="#">Rechtliche Hinweise</a>
  <a href="#">AGB / Informationen</a>
  <a href="#">Widerrufsbelehrung</a>
  <span class="social-buttons">
    <a href="#" class="social-btn icon-printerast"></a>
    <a href="#" class="social-btn icon-facebook"></a>
    <a href="#" class="social-btn icon-youtube"></a>
    <a href="#" class="social-btn icon-twitter"></a>
  </span>
  <a href="#" class="pull-right js-scroll-top scroll-top">Nach oben<i class="icon-angle-up"></i></a>
</div>

