<div class="mb-bottom-copyright-wrapper container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <sup>*</sup>Gültigkeit: diese Beispielrechnung basiert auf der Aktion P5001. Der Abschluss eines entsprechenden Vertrages ist von bestimmten weiteren Voraussetzungen, insbesondere Liefermöglichkeiten, Bestell- und Lieferfristen abhängig. Ist der Darlehens-/Leasingnehmer Verbraucher, besteht nach Vertragsschluss ein gesetzliches Widerrufsrecht nach §495 BGB. Ihr Mercedes-Benz Partner steht Ihnen für ein weitergehendes individuelles Beratungsgespräch zur Verfügung. 
      </p>
      <p>
        <sup>**</sup>Weitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem „Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen“ entnommen werden, der an allen Verkaufsstellen und bei der DAT Deutsche Automobil Treuhand GmbH (www.dat.de) unentgeltlich erhältlich ist. 
      </p>
      <p>
        Die angegebenen Werte wurden nach dem vorgeschriebenen Messverfahren (§ 2 Nrn. 5, 6, 6a Pkw-EnVKV in der jeweils geltenden Fassung) ermittelt. CO2-Emissionen, die durch die Produktion und Bereitstellung des Kraftstoffes bzw. anderer Energieträger entstehen, werden bei der Ermittlung der Co2-Emissionen gemäß der Richtlinie 1999/94/EG nicht berücksichtigt.
      </p>
      <p>
        Die Angaben beziehen sich nicht auf ein einzelnes Fahrzeug und sind nicht Bestandteil des Angebots, sondern dienen allein Vergleichszwecken zwischen den verschiedenen Fahrzeugtypen. Hinweis: Bitte informieren Sie sich bei Bedarf über den genauen Preis Ihres Wunschfahrzeugs und führen Sie eine Beispielkalkulation mit dem exakten Wert aus. Es erscheint der Preis eines Basisfahrzeugs ohne Sonderausstattungen. Alle Angaben und Zinssätze auf diesen WWW-Seiten beziehen sich nur auf die Bundesrepublik Deutschland und stellen kein Angebot im Rechtssinne dar. Ein rechtsgültiges Angebot kann Ihnen nur schriftlich (mit den Unterschriften der Kreditgeber) durch die Mercedes-Benz Bank AG bzw. die Mercedes-Benz Leasing GmbH oder durch einen Mercedes-Benz Vertriebspartner unterbreitet werden.
      </p>
    </div>
  </div>
</div>
<div class="mb-footer-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#">Alle Angebote</a>
          </li>
          <li>
            <a href="#">StreetStyle Sondermodelle</a>
          </li>
          <li>
            <a href="#">EM-Favoriten</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#">Modellübersicht</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#" class="js-store-info">Store-Info</a>
          </li>
          <li>
            <a href="#">So funktioniert‘s</a>
          </li>
          <li>
            <a href="#">AGB</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#">
              Kontakt &amp; Service
            </a>
          </li>
          <li>
            <a href="#">Rückruf vereinbaren</a>
          </li>
          <li>
            <a href="#">Persönliche Beratung vor Ort</a>
          </li>
          <li>
            <a href="#">Anfrage per E-Mail senden</a>
          </li>
          <li>
            <a href="#">Live-Chat starten</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-subfooter container-fluid">
    <span class="mb-footer-copyright-text">
      &copy; 2015. Daimler AG. 
      <br class="hidden-sm hidden-md hidden-lg">
      Alle Rechte vorbehalten (Anbieter)
    </span>
    <a href="#">Cookies</a>
    <a href="#">Datenschutz</a>
    <a href="#">Rechtliche Hinweise</a>
    <a href="#">AGB / Informationen</a>
    <a href="#">Widerrufsbelehrung</a>
    <span class="social-buttons">
      <a href="#" class="social-btn icon-printerast"></a>
      <a href="#" class="social-btn icon-facebook"></a>
      <a href="#" class="social-btn icon-youtube"></a>
      <a href="#" class="social-btn icon-twitter"></a>
    </span>
    <a href="#" class="js-scroll-top scroll-top">Nach oben<i class="icon-angle-up"></i></a>
  </div>
</div>
