<ul class="tabs">
  <li class="tab-link current" data-tab="tab-1">{{ locale "offers.tabs.newINStore"}}</li>
  <li class="tab-link" data-tab="tab-2">{{ locale "offers.tabs.mostViewed"}}</li>
</ul>

<div class="offers-list">

</div>
